@import '_colours';
@import '_typography';
@import 'design-patterns/_alpha-beta';
@import 'design-patterns/buttons';
@import "design-patterns/alpha-beta";

body {
}

h1 {
@include heading-48;
font-size: 300%;
font-weight: bold;
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
vertical-align: baseline;
}

h2 {
@include heading-36;
font-weight: bold;
}

h3 {
@include heading-24;
font-weight: bold;
}


h4 {
@include copy-19;
font-weight: bold;
}

p {
font-size: 19px;}


.copy-19 {
@include copy-19;}


.copy-16 {
@include copy-16;
}



.heading-24 {
@include heading-24;
font-weight: bold;
}





.heading-27 {
@include heading-27;
color: #6f777b;
display: block;
}


.heading-36 {
@include heading-36;
font-weight: bold;
}

.heading-48 {
@include heading-48;
font-weight: bold;
}

.text-secondary { 
color: #6f777b;
}




#phase-notice {
width: 1020px;
margin-left: auto;
margin-right: auto;
}

.price {
font-size: 48px;
margin-top: -10px;
}


.secondary-label {
color: #888888;
}



/* Layout */


#infocol {
width: 33.333333%;
float: right;
margin-bottom: 30px;
}



#mcontent { 
width: 66.66666665%;
float: left;
margin-bottom: 20px;
}

#bundle {
margin-bottom: 20px;
}

/*Buttons*/

.button {
background-color: #006435;
color: white;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
margin: 0 0 1em 0;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;
}

.button-warning { 
@include button($red);
}
/*
background: $red;
color: white;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
margin: 0 0 1em 0;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;*/



.button-secondary {
background-color: #dee0e2;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;
color: #0b0c0c;
}


.search-container { 
margin-bottom: 50px;}

.del {
float: right;
color: grey;
padding-right: 30px;
font-size: 18px;
margin-bottom: -10px;
}


/*Lists*/


.list { 
list-style-type: none;
margin-left: -40px;
}

#infocol ul li
{ 
list-style-type: none;
margin-left: 40px;}


#profile-list { 
list-style-type: none;
margin: 5px 0 20px -45px;
}

#profile-list li { 

padding: 10px;
border-bottom: 1px solid #dee0e2;
}



/*shortlists*/

.addimg {
margin-top: -2px;
margin-right: 7px; }




/*shortlists*/

.success-feedback {
color: $green;}

.fail-feedback {
color: $red;}


.shortlist-picker {
  margin-top: -20px;
  width: 90%;
  margin-left: 0px;
  border-bottom: 2px solid #cccccc; }

.project-picker {
  margin-top: -20px;
  width: 90%;
  margin-left: 0px;
  border-bottom: 2px solid #cccccc; }

.pick-one-project {
  background: #f1f1f1;
  margin-top: -20px;
  padding: 3px;
  border-top: 7px solid black; }

.pick-one-shortlist {
  background: #f1f1f1;
  margin-bottom: -20px;
  padding: 3px;
  border-top: 7px solid black; }

.shortlist-picker-item {
  background: #ffffff;
  padding: 7px;
  border-bottom: 1px solid #cccccc; }

.shortlist-item-selected {
  color: white;
  background: #28a197;
  padding: 7px;
  border-bottom: 1px solid #cccccc; }

#changeproj {
  margin-left: 10px; }
/*Logo treatment*/


#brand {
width: 100%;
padding: 20px 0 20px 0;

}

.swrap {
margin: 20px 0 40px 0;}



/*Input*/ 


input  {
font-family: "nta",Arial,sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 600px;
margin: 0 -3px 0 0;
padding: 0 0 0 0;
display: inline;
height: 50px;
border: 1px solid #bfc1c3;
line-height: 48px!important;
}

  
#filter-inner input {
display: inline-block;
vertical-align: middle;
height: 40px;
text-indent: 10px;
font-family: "nta","GDS-Regular",sans-serif;
font-size: 14px;
line-height: 1;
font-weight: 400;
text-transform: none;
border: 1px solid #bfc1c3;
width: auto;
}

#radio {
vertical-align: middle;
width: auto;
margin: 0 0 0px 7px;
}

#filter-inner checkbox { 
vertical-align: middle;
}


#filter-inner checkbox label {
vertical-align: middle;
float: left;
}

.radio label {
margin-left: 10px;
margin-bottom: -5px;}


#filter-inner input value {
color: grey;
}

.checkboxes {
overflow: auto;
}


.checkboxes label {
    display: block;
    float: left;
    padding-right: 6px;
    white-space: nowrap;
}
.checkboxes input {
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
}
.checkboxes label span {
    vertical-align: middle;
}

/* Layout */ 


#outer-wrapper {
max-width: 1020px;
margin: 0 auto;
overflow: auto;
}

#inner-wrapper {
margin: 3% 3% 3% 3%;
}


/* Home */

.alphadisclaimer {

	background: $yellow-25;
	padding: 5px;

	p{
		margin:0;
	}

}


/* Search results specific */


.nav-breadcrumb {
margin-left: -30px;}



.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
}
.breadcrumb li { 
	float: left; 
	padding-bottom: 0;
}
.breadcrumb li a {
	font-size: 15px;
	color: black;
	text-decoration: none; 
	padding: 7px 0 7px 40px;
	background: $grey-4;       
	position: relative; 
	display: block;
	float: left;
}


.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid $grey-4;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid $grey-2;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}


.breadcrumb li a:hover { background: $grey-3; }
.breadcrumb li a:hover:after { border-left-color: $grey-3 !important; }




.breadcrumb-breakdown {
margin-top: 15px;
margin-bottom: 10px;
}
.breadcrumb-filter {
padding: 5px;
margin-right: 10px;
display: inline-block;
border-bottom: 1px solid $grey-3;
}


.remove-filt {
margin-right: 5px;
font-size: 18px;}


.filtered-results {
font-size: 16px;
}

.filtered-results a {
color: #6f777b;
text-decoration: none;
font-weight: normal;
position: relative;
top: 1px;
}






/* Breadcrumb v 2 */ 


.breadcrumb2 { 
	list-style: none; 
	overflow: hidden; 
}
.breadcrumb2 li { 
	float: left; 
	padding-bottom: 0;
	padding-left: 0;
}
.breadcrumb2 li a {
	font-size: 15px;
	color: black;
	text-decoration: none; 
	padding: 7px 0 7px 10px;
	position: relative; 
	float: right;
}


/*
.breadcrumb2 li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;          
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.breadcrumb2 li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid $grey-2;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}
*/

.breadcrumb2 li a:hover { background: white; }
.breadcrumb2 li a:hover:after { border-left-color: white !important; }




.breadcrumb-breakdown2 {
margin-top: 15px;
margin-bottom: 10px;
}
.breadcrumb-filter2 {
padding: 5px;
margin-right: 10px;
display: inline-block;
border-bottom: 1px solid $grey-3;
}


.remove-filt2 {
margin-right: 5px;
font-size: 18px;}


/* end */ 











#search {
display: inline;
width: 100%;
}


#box-filter {
width: 33.3333%;
float: left;
}


#filter-inner {
padding: 0 60px 0 5px;
}

#filter-inner p {
font-size: 16px;
margin: 0;}

#customwords {
}


#box-results {
width: 66.6666665%;
float: right;
}

.advancedsearch {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px; 
margin-top: 5px;
width: 65%;
}


.saved {
color: $green;
}


.login {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px; 
margin: 5px 0 20px 0;
}

.loginwide {
width: 660px;
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px 10px 0 10px; 
margin: 5px 0 5px 0;
}



.questionform {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px; 
margin: 5px 0 20px 0;
}

.qfeedback {
background: $yellow-25;
padding: 10px;
margin: 10px 0 20px 0;
}

#searchcontainer {
overflow: auto;
}

/* Search */

.searchterm {
background: #dee0e2;
padding: 2px;
}


#sheader {
margin: 20px 0 0 0;
width: 930px;
}

#searchops {
margin-top: -5px;
border-bottom: 1px solid #bfc1c3;
}



/* supplier dashboard */ 

.service-item {
border-bottom: 1px solid $grey-3;}

.see-all {
border-bottom: 1px solid $grey-3;
background: $grey-3;
text-align: center;
padding: 3px;
margin-top: -20px;
margin-bottom: 40px;
}





.supplier-notification {
background: $yellow-25;
padding: 10px;
width: 90%;
border: 1px solid $grey-3;}

.supplier-notification p {
margin: 0;}



/* all services */ 

.all-services {
}


.service-list-item {
border-bottom: 1px solid $grey-3;
margin: 0 auto;
height: 70px;
margin-top: 20px;
margin-bottom: 40px;
}


.service-question {
border: 1px solid $grey-3;
padding: 10px;
margin-bottom: 20px;
}



.service-list-item p {
margin: 0;
}


.analytics {
float: left;
width: 29%;
margin-top: 10px;
margin-bottom: 10px;
}

.arrow {
float: right;
width: 10%;
}


.analytics p {
font-size: 16px;
color: $grey-1;}




/* Filter */

.client-logo {
margin-right: 20px;
padding: 10px;}

.cat {
@include copy-14;
font-weight: bold;
margin-top: 10px;
margin-bottom: 0px;
}

.cat-filter {
@include copy-14;
font-weight: bold;
margin-top: 10px;
margin-bottom: 0px;
border-top: 1px solid #f1f1f1;
}

/* Results */

.single-row-select {
border: 1px solid #bfc1c3;
padding: 5px 5px 5px 10px;
width: 100%;
background: #fff;
background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png);
background-repeat: no-repeat;
background-position: right center;
-webkit-box-shadow: 1px 1px 1px #fff;
-moz-box-shadow: 1px 1px 1px #fff;
box-shadow: 1px 1px 1px #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;

}

.makeshortlist {
background: #f8f8f8;
padding: 20px; 
margin-top: 20px;}

#makeshortlist {
overflow: hidden;
line-height: 150%;
background: $grey-4;
padding: 20px;
border: 1px solid $grey-3;
}

.search-counter {
background: white;
padding: 5px;
border: 1px solid $grey-3;
text-align: right;
float: right;
}

.services {
width: 80%;
float: left;
}


#makeshortlist p {
font-size: 19px;}



.lot {
display: inline-block;
background: white;
border-bottom: 1px solid $grey-3;
padding: 5px 2px 0 5px;
margin-bottom: 11px;
margin-right: 10px;
}


.lot-selected {
display: inline-block;
background: $green;
color: white;
padding: 5px 2px 0 5px;
margin-bottom: 10px;
margin-right: 10px;
border-bottom: 2px solid $grey-1;
}




#makeshortlist {
overflow: hidden;
line-height: 150%;
background: $grey-4;
padding: 20px;
border: 1px solid $grey-3;
}

.search-counter {
background: white;
padding: 5px;
border: 1px solid $grey-3;
text-align: right;
float: right;
}

.services {
width: 80%;
float: left;
}


#makeshortlist p {
font-size: 19px;}

.top-cat-holder {
overflow: auto;
}


.top-cat {
float: left;}



.lot {
display: inline-block;
background: white;
border-bottom: 1px solid $grey-3;
padding: 5px 2px 0 5px;
margin-bottom: 11px;
margin-right: 10px;
}



.lot-selected {
display: inline-block;
background: $green;
color: white;
padding: 5px 2px 0 5px;
margin-bottom: 10px;
margin-right: 10px;
border-bottom: 2px solid $grey-1;
}



/* Shortlist picker */ 

#shortlist-holder {
background: $grey-4;
border: 1px solid $grey-2;
padding-left: 10px;
padding-right: 10px;
margin-top: -1px;
display: inline block;
}

#shortlist-holder p {
font-size: 16px;}

.shortlist-line {
border-bottom: 1px solid $grey-3;}

/* Shortlist */ 

.project-desc {
width: 60%;
padding: 5px 0 15px 10px; 
margin: 10px 0 10px 0; 
}

#project-name {
background: $grey-4;
border: 1px solid $grey-3;
width: 80%;
padding: 10px 0 0 15px;
margin-top: -40px;
margin-bottom: 5px; 
}

#sub-links {
margin-bottom: 17px; 
text-align: right;
}

#sub-links a {
margin-right: 7px;
font-size: 16px;
}


.shortlist {
margin-top: 40px;
width: 80%;
}

.eval-crit-box {
padding: 10px 10px 10px 5px;
margin: 7px 0 7px 0;}


.eval-crit {
background: #DEE0E2;
padding: 7px;
margin-right: 10px;}


.shortlist-header {
border-bottom: 2px solid #BFC1C3;
padding: 10px;
margin-bottom: 10px;
background: #F8F8F8;
}

#delete-product {
text-align: center;
}


.count { 
font-family: "nta","GDS-Regular",sans-serif;
font-size: 48px;
font-weight: bold;
line-height: 1;
padding-right: 10px;
text-transform: none;
float: left;
}

.count-small { 
font-family: "nta","GDS-Regular",sans-serif;
font-size: 38px;
font-weight: bold;
line-height: 1;
padding-right: 10px;
text-transform: none;
float: left;
}

#search-result {
border-bottom: 1px solid #bfc1c3;
}



.active-shortlist {
border: 2px solid $grey-3;}

.shortlist-item {
background: white;
padding: 15px;
border-bottom: 2px solid $grey-3;
}

.shortlist-bin {
margin-top: 50px; 
margin-top: 1px solid $grey-3;}

.shortlist-item-removed {
margin-top: 10px;
padding: 5px;
border: 1px solid $grey-3;
}

.shortlist-note { 
background: $grey-4;
padding: 10px;
margin: 3px;
border: 1px dotted $grey-2;}

.shortlist-links {
margin-right: 5px;}

#remove-reason {
border: 2px solid $grey-1;
background: $grey-4;
margin-top: -5px;
margin: 10px;
padding: 10px 10px 5px 20px;
}


#shortlist-item-removed {
background: $yellow-25;
padding: 5px;
text-align: center;
}


#help-search-1 {
display: none;
min-height: 60px;
border-bottom: 1px solid #bfc1c3;
padding: 10px 10px 10px 5px;
}

#help-search-2 {
border: 1px solid #bfc1c3;
padding: 10px 10px 10px 10px;
background: #f1f1f1;
text-align: center;
}


.supplier {
font-size: 18px;
font-weight: bold;
margin-bottom: -20px;
}


#list-results {
padding: 10px 0 0 0}


#feedback { 
font-size: 19px;
margin-bottom: 10px;
}


#fdbutton { 
background: green;
color: white;
padding: 5px;
width: 150px;
}



.supplier-logo {
height: 50px;
width: 100px;
float: right;
margin: 20px 0 20px 10px;}

#phase-notice {
@include phase-banner(alpha);
}

.alpha-tag {
@include phase-tag(alpha);
}


.product {
font-size: 20px;
font-weight: bold;
margin-bottom: -20px;
}

.supplier {
font-size: 14px;
font-weight: normal;
color: $secondary-text-colour;
margin-bottom: -2px;
}






/* Listing */

.thumb {
border: 5px solid $grey-3;
margin-bottom: 40px;
margin-right: 20px;}

.thumb-active {
border: 5px solid $grey-1;
margin-bottom: 40px;
margin-right: 20px;}


.screenshot {
margin-top: 20px;
border: 5px solid #dee0e2;}

#keywords {
margin: 0 auto;
overflow: auto;
}


#keyword {
background: #dee0e2;
padding: 5px; 
margin: 0px 3px 3px 0;
float: left;
}

#infosection {
margin: 20px 0 20px 0;
}

#watchlist {
margin-top: -40px;}

#pricing {
margin: 0 auto;
overflow: auto;
padding: 20px 0 30px 0;
}

#unitpickerm { 
display: block;
border: 4px solid $grey-3;
padding:  0 10px 0px 10px;}

#unitpickerm p {
line-height: 40%;
font-size: 16px;}


#price {
float: left;
margin-right: 10px;
}

#price-unit {
float: left;
width: 80px;
}



ul li {
@include copy-19;
}

.price {
font-weight: bold;}



#listing-sect {
margin: 50px 0 50px 0;}

#features {
margin-bottom: 50px;}

.question {
padding: 10px;
margin: 2px 0 10px 0;
border-bottom: 1px solid $grey-2;
background: $grey-4;
}

.question p {
margin: 0;}

.qmd {
margin-top: 5px;
}

.open-questions { 
margin-bottom:10px;
padding: 1px dashed $grey-3;}

.answerposted {
background: $yellow-25;
padding: 10px;
border: 1px solid #cccccc;
}

.questioncategory {
margin-top: 20px;
}

#line {
margin: 10px 0 20px 0;
border-top: 1px solid #dee0e2;
}



.form-label { font-family: "nta", Arial, sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
display: block;
margin-bottom: 5px;}


.form-group {
margin-bottom: 30px;
margin-top: -20px;
}

.form-control {
width: 50%;
}

.login-group {
margin-top: 30px;
}



/* Search results */ 

.results-summary {
}


#resultsadded {
padding: 5px;}

/* Search form */

#adv-wrapper {
overflow: auto;}

.adv-form-group {
margin-bottom: 10px;
width: 60%;
}

.adv-form-group control {
float: left;
width: 50%;
margin-bottom: 4px;
}

.adv-form-group-control {
float: left;
width: 50%;
}


.shortlist-input {
width: 370px;
margin-left: 10px;
margin-right: 10px;
}


#active-filters {
overflow: auto;
}

#active-filters p {
font-size: 16px;}

.active-filter {
background: $grey-4; 
color: black;
padding: 5px;
font-size: 16px;
border: 1px solid $grey-3;
}

.remove {
float: right;
margin: 10px 10px 0 0;
}

.filterimg {
margin-top: 2px;
margin-left: 5px; }


/* Password reset feedback */ 

.pw-changed {
color: $green;
background: $grey-4;
padding: 20px;
border-left: 5px solid $green;
}


.email-sent {
color: $green;}

.pw-failed {
color: $red;
padding-bottom: 20px;
}

.validation-error {
padding-left: 10px;
border-left: 5px solid $red;
}



/*New filters and categories*/

.filter-applied {
background: $grey-4; 
color: black;
padding: 3px 3px 3px 3px;
margin-bottom: 4px;
overflow: auto;
border-bottom: 1px solid $grey-3;
}

.filter-applied p {
font-size: 11px;
margin:0;}

.filter-remove {
float: left;
margin-right: 10px;
margin-left: 10px;
display: block;
height: 50px;
}

.filter-remove p {
font-size: 24px;}

.filter-remove a { 
text-decoration: none;
color: black;}



.lev-1 {
}

.lev-1 p {
color: $grey-1;
}

.lev-2 {
margin-left: 10px;
}


.category-browse {
margin-bottom: 20px;}


.adv-form-group input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}



/* Fake Accordion */


#fakeaccordion {
background: #dee0e2;
border: 1px dotted #a1acb2;
overflow: auto;
margin: 5px 5px 5px 0;
padding: 5px;
}

.catname {
font-size: 24px;
font-weight: bold; 
}

#catname {
float: left;}

.exp { 
float: right;
margin: 3px 3px 0 0;
}

#drag { 
float: left;
background: url('../images/drag_icon.png') no-repeat;
width: 20px;
height: 20px;
margin: 7px 20px 0 0;
}

table {
width: 99.4%;
border: 1px dotted #a1acb2;
padding: 1px;
margin: -6px 5px 0 0;
}

td { 
width: 70%;
padding: 5px;
}

.tick {
font-size: 18px;
color: #20C983;
margin-left: 10px;}

.cross {
font-size: 30px;
color: #D43552;
margin-left: 10px;
}

.alternate {
background: $grey-4;}











/*Home placeholder*/


#holder {
overflow: auto;
width: 950px;
margin-top: 50px;
}


#holder h3 {
margin-bottom: -5px;
}

#holder ul li {
list-style-type: none;
margin-left: -30px;}

#category { 
width: 43%;
height: 320px;
float: left;
margin-right: 5%;
margin-bottom: 1%;
}

#category p {
font-size: 18px;}


/*Supplier*/ 

.subpage {
font-size: 24px;
color: grey;
margin-bottom: -20px;
}


#inner {
padding-right: 20px;
}




/* GOVUK Landing specific */ 


.procurement-services {
margin: 0 auto;
overflow: auto;
}

.category-description {
width: 65.5%;
font-size: 160%;}

.category-description p {
font-size: 24px;}

.subcategory-group {
float: left;
width: 32%;
margin-right: 1%;
}


.subcategory-group {
}

/* Search revised */


@media(max-width:640px) {
    main.search h1 {
        font-size: 20px;
        line-height: 1.2;
    }
}

main.search .search-header {
    position: relative;
    margin: 0;
    padding: 10px 15px 15px;
    overflow: visible;
}

@media(min-width:641px) {
    main.search .search-header {
        width: 66.666%;
        padding: 20px 20px 10px 0px;
    }
}

main.search .search-header .searchfield {
    position: relative;
}

main.search .search-header .search-input {
    position: static;
    margin: 0;
    padding: 0 50px 0 0;
}

main.search .search-header .search-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    overflow: visible;
}





main.search .search-header input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-right: none;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}

@media(max-width:640px) {
    main.search .search-header input {
        font-size: 16px;
        line-height: 1.25;
    }
}

main.search .search-header input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

main.search .search-header button {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #2b8cc4;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-ae8b4a52fcf80102a4ebccdde74bd46c.png);
    background-position: -12.5% 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

main.search .search-header button:hover {
    background-color: #267daf;
}


