/* Test */
@import '_colours';
@import '_typography';
@import 'design-patterns/_alpha-beta';


body {
}



h1 {
@include heading-48;
font-size: 300%;
font-weight: bold;
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
vertical-align: baseline;
}

h2 {
@include heading-36;
font-weight: bold;
}

h3 {
@include heading-24;
font-weight: bold;
}


h4 {
@include copy-19;
font-weight: bold;
}

p {
@include copy-19;
}


.copy-19 {
@include copy-19;}


.copy-16 {
@include copy-16;
}



.heading-24 {
@include heading-24;
font-weight: bold;
}





.heading-27 {
@include heading-27;
color: #6f777b;
display: block;
}


.heading-36 {
@include heading-36;
font-weight: bold;
}

.heading-48 {
@include heading-48;
font-weight: bold;
}

.text-secondary { 
color: #6f777b;
}

.price {
font-size: 48px;
margin-top: -10px;
}


.secondary-label {
color: #888888;
}



/* Layout */


#infocol {
width: 33.333333%;
float: right;
}

#mcontent { 
width: 66.66666665%;
float: left;
}

#bundle {
margin-bottom: 20px;
}

/*Buttons*/

.button {
background-color: #006435;
color: white;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
margin: 0 0 1em 0;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;
}


.button-secondary {
background-color: #dee0e2;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;
color: #0b0c0c;
}




.del {
float: right;
color: grey;
padding-right: 30px;
font-size: 18px;
margin-bottom: -10px;
}


/*Lists*/


#list { 
list-style-type: none;
margin-left: -40px;
}

#infocol ul li
{ 
list-style-type: disc;
margin-left: 40px;}


#profile-list { 
list-style-type: none;
margin: 5px 0 20px -45px;
}

#profile-list li { 

padding: 10px;
border-bottom: 1px solid #dee0e2;
}



/*shortlists*/

/*Logo treatment*/


#brand {
width: 100%;
padding: 20px 0 20px 0;

}

.swrap {
margin: 20px 0 40px 0;}



/*Input*/ 


input  {
font-family: "nta",Arial,sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 600px;
margin: 0 -3px 0 0;
padding: 0 0 0 0;
display: inline;
height: 50px;
border: 1px solid #bfc1c3;
line-height: 48px!important;
}

  
#filter-inner input {
display: inline-block;
vertical-align: middle;
height: 40px;
text-indent: 10px;
font-family: "nta","GDS-Regular",sans-serif;
font-size: 14px;
line-height: 1;
font-weight: 400;
text-transform: none;
border: 1px solid #bfc1c3;
width: auto;
}

#radio {
vertical-align: middle;
width: auto;
margin: 0 0 0px 7px;
}

#filter-inner checkbox { 
vertical-align: middle;
}


#filter-inner checkbox label {
vertical-align: middle;
float: left;
}

.radio label {
margin-left: 10px;
margin-bottom: -5px;}


#filter-inner input value {
color: grey;
}

.checkboxes {
overflow: auto;
}


.checkboxes label {
    display: block;
    float: left;
    padding-right: 6px;
    white-space: nowrap;
}
.checkboxes input {
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
}
.checkboxes label span {
    vertical-align: middle;
}

/* Layout */ 


#outer-wrapper {
max-width: 1020px;
margin: 0 auto;
overflow: auto;
}

#inner-wrapper {
margin: 3% 3% 3% 3%;
}


/* Search results specific */



#search {
display: inline;
width: 100%;
}


#box-filter {
width: 33.3333%;
float: left;
}


#filter-inner {
padding: 0 60px 0 5px;
}

#customwords {
}


#box-results {
width: 66.6666665%;
float: right;
}

.advancedsearch {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px; 
margin-top: 5px;
width: 65%;
}

.questionform {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px; 
margin: 5px 0 20px 0;
}

.qfeedback {
background: $yellow-25;
padding: 10px;
margin: 10px 0 20px 0;
}

#searchcontainer {
overflow: auto;
}

/* Search */

.searchterm {
background: #dee0e2;
padding: 2px;
}


#sheader {
margin: 20px 0 0 0;
width: 930px;
}

#searchops {
margin-top: -5px;
border-bottom: 1px solid #bfc1c3;
}



/* Filter */

.client-logo {
margin-right: 20px;
padding: 10px;}

.cat {
@include copy-14;
font-weight: bold;
margin-top: 10px;
margin-bottom: 0px;
}

.cat-filter {
@include copy-14;
font-weight: bold;
margin-top: 10px;
margin-bottom: 0px;
border-top: 1px solid #f1f1f1;
}

/* Results */

.single-row-select {
border: 1px solid #bfc1c3;
padding: 5px 5px 5px 10px;
width: 100%;
background: #fff;
background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png);
background-repeat: no-repeat;
background-position: right center;
-webkit-box-shadow: 1px 1px 1px #fff;
-moz-box-shadow: 1px 1px 1px #fff;
box-shadow: 1px 1px 1px #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;

}



/* Shortlist */ 

.project-desc {
width: 60%;
padding: 5px 0 15px 10px; 
margin: 10px 0 10px 0; 
background: #f1f1f1;
}

.project-name {
width: 60%;
padding: 5px 0 15px 10px;
margin-bottom: 20px; 
background: #f1f1f1;
}

#sub-links {
margin-bottom: 17px; 
text-align: right;
}

#sub-links a {
margin-right: 7px;
font-size: 16px;
}


.shortlist {
margin-top: 40px;
width: 80%;
}

.eval-crit-box {
padding: 10px 10px 10px 5px;
margin: 7px 0 7px 0;}


.eval-crit {
background: #DEE0E2;
padding: 7px;
margin-right: 10px;}


.shortlist-header {
border-bottom: 2px solid #BFC1C3;
padding: 10px;
margin-bottom: 10px;
background: #F8F8F8;
}

#delete-product {
text-align: center;
}


.count { 
font-family: "nta","GDS-Regular",sans-serif;
font-size: 48px;
font-weight: bold;
line-height: 1;
padding-right: 10px;
text-transform: none;
float: left;
}

#search-result {
border-bottom: 1px solid #bfc1c3;
}

.shortlist-item {
padding: 7px;
border-bottom: 1px solid #BFC1C3;
}

#help-search-1 {
display: none;
min-height: 60px;
border-bottom: 1px solid #bfc1c3;
padding: 10px 10px 10px 5px;
}

#help-search-2 {
border: 1px solid #bfc1c3;
padding: 10px 10px 10px 10px;
background: #f1f1f1;
text-align: center;
}


.supplier {
font-size: 18px;
font-weight: bold;
margin-bottom: -20px;
}


#list-results {
padding: 10px 0 0 0}


#feedback { 
font-size: 19px;
margin-bottom: 10px;
}


#fdbutton { 
background: green;
color: white;
padding: 5px;
width: 150px;
}



.supplier-logo {
height: 50px;
width: 100px;
float: right;
margin: 20px 0 20px 10px;}

#phase-notice {
@include phase-banner(alpha);
}

.alpha-tag {
@include phase-tag(alpha);
}


.product {
font-size: 20px;
font-weight: bold;
margin-bottom: -20px;
}

.supplier {
font-size: 14px;
font-weight: normal;
color: $secondary-text-colour;
margin-bottom: -2px;
}






/* Listing page */


.screenshot {
border: 5px solid #dee0e2;}

#keywords {
margin: 0 auto;
overflow: auto;
}


#keyword {
background: #dee0e2;
padding: 5px; 
margin: 0px 3px 3px 0;
float: left;
}

#infosection {
margin: 20px 0 20px 0;
}

#pricing {
margin: 0 auto;
overflow: auto;
padding: 10px 0 10px 0;
}


#rating {
margin: 10px 0 20px 0;
}

#star {
background: url('../images/star-rating.png') no-repeat;
height: 20px; 
width: 20px; 
float: left; 
margin: 0 2px 0 0;
}

#star-no {
background: url('../images/star-no.png') no-repeat;
height: 20px; 
width: 20px; 
float: left; 
margin: 0 2px 0 0;
}

#stars {
margin: 0 auto;
overflow: auto;}

#price {
float: left;
margin-right: 10px;
}

#price-unit {
float: left;
width: 80px;
}



ul li {
@include copy-19;
}

.price {
font-size: 38px;
font-weight: bold;}



#listing-sect {
margin: 50px 0 50px 0;}

#features {
margin-bottom: 50px;}

#question {
padding: 10px  0px 10px;
margin: 2px 0 20px 0;
border-bottom: 1px solid #dee0e2;
}

.qmd {
margin-top: 30px;
}

.answerposted {
background: $yellow-25;
padding: 10px;
border: 1px solid #cccccc;
}

.questioncategory {
margin-top: 20px;
}

#line {
margin: 50px 0 20px 0;
border-top: 1px solid #dee0e2;
}



.form-label { font-family: "nta", Arial, sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
display: block;
margin-bottom: 5px;}


.form-group {
margin-bottom: 30px; 
}

.form-control {
width: 50%;
}


/* advanced search form */

#adv-wrapper {
overflow: auto;}

.adv-form-group {
margin-bottom: 10px;
width: 60%;
}

.adv-form-group control {
float: left;
width: 50%;
margin-bottom: 4px;
}

.adv-form-group-control {
float: left;
width: 50%;
}



.adv-form-group input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}



/* Fake Accordion */


#fakeaccordion {
background: #dee0e2;
border: 1px dotted #a1acb2;
overflow: auto;
margin: 5px 5px 5px 0;
padding: 5px;
}

.catname {
font-size: 24px;
font-weight: bold; 
}

#catname {
float: left;}

.exp { 
float: right;
margin: 3px 3px 0 0;
}

#drag { 
float: left;
background: url('../images/drag_icon.png') no-repeat;
width: 20px;
height: 20px;
margin: 7px 20px 0 0;
}

table {
width: 99.4%;
border: 1px dotted #a1acb2;
padding: 1px;
margin: -6px 5px 0 0;
}

td { 
width: 70%;
padding: 5px;
}

.tick {
font-size: 18px;
color: #20C983;
margin-left: 10px;}

.cross {
font-size: 30px;
color: #D43552;
margin-left: 10px;
}

.alternate {
background: #eaedef;}











/*Home placeholder*/


#holder {
overflow: auto;
width: 950px;
margin-top: 50px;
}


#holder h3 {
margin-bottom: -5px;
}

#holder ul li {
list-style-type: none;
margin-left: -30px;}

#category { 
width: 380px;
float: left;
margin-right: 5%;
margin-bottom: 1%;
}

#category p {
font-size: 18px;}


/*Supplier*/ 

.subpage {
font-size: 24px;
color: grey;
margin-bottom: -20px;
}


#inner {
padding-right: 20px;
}



/* Search revised */


@media(max-width:640px) {
    main.search h1 {
        font-size: 20px;
        line-height: 1.2;
    }
}

main.search .search-header {
    position: relative;
    margin: 0;
    padding: 10px 15px 15px;
    overflow: visible;
}

@media(min-width:641px) {
    main.search .search-header {
        width: 66.666%;
        padding: 20px 20px 10px 0px;
    }
}

main.search .search-header .searchfield {
    position: relative;
}

main.search .search-header .search-input {
    position: static;
    margin: 0;
    padding: 0 50px 0 0;
}

main.search .search-header .search-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    overflow: visible;
}





main.search .search-header input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-right: none;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}

@media(max-width:640px) {
    main.search .search-header input {
        font-size: 16px;
        line-height: 1.25;
    }
}

main.search .search-header input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

main.search .search-header button {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #2b8cc4;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-ae8b4a52fcf80102a4ebccdde74bd46c.png);
    background-position: -12.5% 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

main.search .search-header button:hover {
    background-color: #267daf;
}



