<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-38"><span class="heading-27">Add project </span>New project</h1>

  <fieldset><h3>
            Project details</h3>
          
          <p class="text-secondary">These will not be made public.</p>
          
          
<div class="form-group">
            <label class="form-label" for="job-title">Project name</label> 
<h2>Lambeth Council Website</h2> <button class="button-secondary">Edit project name</button> <button class="button-secondary">Add new item</button>

</div>

<div id="shortlist-summary">


<div id="shortlist"><h3>CMS</h3>
<div id="shortlist-summary"><span class="copy-19">5 on shortlist</span> </div>

<div id="shortlist-top-choice"><div id="exp"><button class="button-secondary">Remove as top pick</button> <button class="button-secondary">x</button></div><strong><span class="heading-24"><a href="#">Umbraco</a></strong></span></div>

<div id="shortlist-item"><div id="exp"><button class="button-secondary">Make top pick</button> <button class="button-secondary">x</button></div><a href="#"><strong>Dreamcloud</strong></a><div id="drag"></div></div>
<div id="shortlist-item"><div id="exp"><button class="button-secondary">Make top pick</button> <button class="button-secondary">x</button></div><strong><a href="#">Contensis</a></strong><div id="drag"></div></div>

<div id="shortlist-item"><div id="exp"><button class="button-secondary">Make top pick</button> <button class="button-secondary">x</button></div><a href="#"><strong>Drupal</strong></a><div id="drag"></div></div>

<div id="shortlist-item"><div id="exp"><button class="button-secondary">Make top pick</button> <button class="button-secondary">x</button></div><a href="#"><strong>Salesforce</strong></a><div id="drag"></div></div>
<div id="dragarea"><span class="secondary-label">Drag here</div>


<h3>Hosting</h3>
<div id="shortlist-summary"><span class="copy-19">2 on shortlist</span></div>

<div id="shortlist-top-choice-none"><strong><span class="heading-24">No top pick</a></span></div>

<div id="shortlist-item"><div id="exp"><button class="button-secondary">Make top pick</button> <button class="button-secondary">x</button></div><a href="#"><strong>Secura Public Cloud Server</strong></a><div id="drag"></div></div>
<div id="shortlist-item"><div id="exp"><button class="button-secondary">Make top pick</button> <button class="button-secondary">x</button></div><strong><a href="#">Huddle</a></strong><div id="drag"></div></div>
<div id="dragarea"><span class="secondary-label">Drag here</div>

<h3>Email</h3>
<div id="shortlist-summary"><span class="copy-19">0 on shortlist </span><div id="exp"><button class="button">Search</button></div></div>
<div id="dragarea"><span class="secondary-label">Drag here</div>


</div>

</div>
</div>

</div>

</div>
</main>
</body>
</html>
