<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-38"><span class="heading-27">Add project </span>New project</h1>

  <fieldset><legend class="heading-24">
            Project details
          </legend>
          
          <p class="text-secondary">These will not be made public</p>
<div class="form-group">
            <label class="form-label" for="job-title">Project name</label>
            <input type="text" class="form-control" id="project-name">
            
</div>

<div class="form-group">
            <label class="form-label" for="job-title">Project description</label>
            <input type="text" class="form-control" id="project-description">
          </div>
          
          
          </fieldset>
</div>
</div>

</div>

</div>
</main>
</body>
</html>
