<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">




<p><a href="/">Home</a> > <a href="profile.html">Profile</a> > Lambeth Council Website</p>

<h1 class="heading-48"><span class="heading-27">Projects </span>Lambeth Council Website</h1>

  <fieldset><h3>
            Project details</h3>
          
          <p class="text-secondary">These will not be made public.</p>
          


<h3>Name</h3>


<div id="project-name">
<h3>Lambeth Council Website</h3> 

<button class="button-secondary">Edit</button>


</div>



<h3>Project description</h3> 

<div id="project-desc">

<p>Redesign and refresh of the Lambeth Council website. Our procurement needs so far include a new CMS (we've decided Wordpress isn't suitable for our needs) and hosting.</p>
<button class="button-secondary">Edit</button>

</div>




<h2>Shortlist</h2>

<button class="button">Add new category...</button>

<div id="shortlist">
<h3>CMS</h3> 

<button class="button-secondary">Rename</button>
<button class="button-secondary">Delete</button>



<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Trial option</strong></div>
<div id="compare-crit"></div>
</div>

<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<a href="#">Umbraco</a> by Umbraco Ltd
</div>


<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£799.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">No</div>
<div id="compare-crit"><a href="#">More</a></div>
</div>
</div>
<div id="sub-links"><span class="copy-16"><a href="#">Make top pick</a></span> <a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>
</div>



<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<a href="#">WordPress</a> by WordPress Foundation
</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£150.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Yes</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>
<div id="sub-links"><span class="copy-16"><a href="#">Make top pick</a> <a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>
<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<a href="#">Contensis - core Web CMS (Enterprise Licence)</a> by Zengenti

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£1403.00</span> <br> <span class="text-secondary">standard licence</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">No</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>

</div>
<div id="sub-links"><span class="copy-16"><a href="#">Make top pick</a> <a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>

<div id="shortlist">
<h3>Hosting</h3>
<button class="button-secondary">Rename</button>
<button class="button-secondary">Delete</button>

<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Data centre</strong></div>
<div id="compare-crit"></div>
</div>

<div id="compare-table">

<div id="compare-drag">
<div id="shortlist-summary">

<a href="#">Squiz Cloud Hosting</a> by Squiz UK Ltd</span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£2000.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">UK</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>

</div>
<div id="sub-links"><span class="copy-16"><a href="#">Make top pick</a> <a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>


<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<a href="#">Contensis - core Web CMS (Enterprise Licence)</a> by Zengenti</span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£1403.00</span> <br> <span class="text-secondary">standard licence</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Ireland</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>


</div>
<div id="sub-links"><span class="copy-16"><a href="#">Make top pick</a> <a href="#">Remove from shortlist</a> <a href="#">Move</a></span></div>

</div>


</div>




</div>



</div>

</div>
</div>

</div>

</div>
</main>
</body>
</html>
