<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-38"><span class="heading-27">Add project </span>New project</h1>

  <fieldset><h3>
            Project details</h3>
          
          <p class="text-secondary">These will not be made public.</p>
          
          
<div class="form-group">
            <label class="form-label" for="job-title">Project name</label> 
<h2>Lambeth Council Website</h2> <button class="button-secondary">Edit project name</button> <button class="button-secondary">Add new item</button>

</div>


<div id="shortlist">
<h3>CMS</h3>
<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Add-ons</strong></div>
<div id="compare-crit"></div>
</div>

<div id="compare-table">
<div id="compare-drag-selected">
<div id="shortlist-summary">
<img src="../public/images/umbraco.png" alt="umbraco" height="30"/>
<span class="copy-19"><a href="#">Umbraco</a></span>
</div>

<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£799.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>
<div id="compare-crit"><button class="button-secondary">Remove</button></div>

</div>
</div>

</div>

</div>

<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<img src="../public/images/wp.png" alt="wp" height="50" />
<span class="copy-19"><a href="#">WordPress</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£150.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>
<div id="compare-crit"><button class="button-secondary">Set as top pick</button></div>

</div>
</div>
</div>

<div id="compare-table">

<div id="compare-drag">
<div id="shortlist-summary">
<img src="../public/images/contensis.jpg" alt="contensis" height="30"/>
<span class="copy-19"><a href="#">Contensis</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£17000.00</span> <br> <span class="text-secondary">per standard licence</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>
<div id="compare-crit"><button class="button-secondary">Set as top pick</button></div>
</div>
</div>
</div>

<div id="shortlist">
<h3>Email</h3>
<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Add-ons</strong></div>
<div id="compare-crit"></div>
</div>


<div id="compare-table">

<div id="compare-drag">
<div id="shortlist-summary">
<img src="../public/images/contensis.jpg" alt="contensis" height="30"/>
<span class="copy-19"><a href="#">Contensis</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£17000.00</span> <br> <span class="text-secondary">per standard licence</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>
<div id="compare-crit"><button class="button-secondary">Set as top pick</button></div>
</div>
</div>
</div>

<div id="shortlist">
<h3>Unsorted</h3>
<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Add-ons</strong></div>
<div id="compare-crit"></div>
</div>
<div id="compare-table">

<div id="compare-drag">
<div id="shortlist-summary">
<span class="copy-19"><a href="#">CAPTCHA</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£500.00</span> <br> <span class="text-secondary">per user</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>
<div id="compare-crit"><button class="button-secondary">Set as top pick</button></div>
</div>
</div>
</div>

</div>




</div>



</div>

</div>
</div>

</div>

</div>
</main>
</body>
</html>
