<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-38"><span class="heading-27">Projects </span>Lambeth Council Website</h1>

  <fieldset><h3>
            Project details</h3>
          
          <p class="text-secondary">These will not be made public.</p>
          


<h3>Name</h3>


<div id="project-name">
<h3>Lambeth Council Website</h3> 

<button class="button-secondary">Edit</button>


</div>



<h3>Project description</h3> 

<div id="project-desc">

<p>Redesign and refresh of the Lambeth Council website. Our procurement needs so far include a new CMS (we've decided Wordpress isn't suitable for our needs) and hosting.</p>
<button class="button-secondary">Edit</button>

</div>




<h2>Shortlist</h2>

<button class="button">Add new category...</button>

<div id="shortlist">
<h3>CMS</h3> 

<button class="button-secondary">Rename</button>
<button class="button-secondary">Delete</button>



<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Add-ons</strong></div>
<div id="compare-crit"></div>
</div>

<div id="compare-table">
<div id="compare-drag-selected">
<div id="shortlist-summary">
<img src="../public/images/umbraco.png" alt="umbraco" height="30"/>
<span class="copy-19"><a href="#">Umbraco</a></span>
</div>


<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£799.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>
</div>
</div>
<div id="sub-links"><span class="copy-16"><a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>
</div>



<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<img src="../public/images/wp.png" alt="wp" height="50" />
<span class="copy-19"><a href="#">WordPress</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£150.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>
<div id="sub-links"><span class="copy-16"><a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>
<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<img src="../public/images/contensis.jpg" alt="contensis" height="30"/>
<span class="copy-19"><a href="#">Contensis</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£17000.00</span> <br> <span class="text-secondary">per standard licence</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>

</div>
<div id="sub-links"><span class="copy-16"><a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>

<div id="shortlist">
<h3>Hosting</h3>
<button class="button-secondary">Rename</button>
<button class="button-secondary">Delete</button>

<div id="compare-table">
<div id="compare-crit-titles">
<div id="compare-crit"><strong>Price</strong></div>
<div id="compare-crit"><strong>Contract min.</strong></div>
<div id="compare-crit"><strong>Add-ons</strong></div>
<div id="compare-crit"></div>
</div>

<div id="compare-table">

<div id="compare-drag">
<div id="shortlist-summary">

<span class="copy-19"><a href="#">CloudHost</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£10000.00</span> <br> <span class="text-secondary">per month</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>

</div>
<div id="sub-links"><span class="copy-16"><a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>


<div id="compare-table">
<div id="compare-drag">
<div id="shortlist-summary">
<img src="../public/images/contensis.jpg" alt="contensis" height="30"/>
<span class="copy-19"><a href="#">Contensis</a></span>

</div>
<div id="compare-crit-replies">
<div id="compare-crit"><span class="heading-24">£17000.00</span> <br> <span class="text-secondary">per standard licence</span></div>
<div id="compare-crit">1 month</div>
<div id="compare-crit">Loads</div>
<div id="compare-crit"><a href="#">More</a></div>

</div>
</div>


</div>
<div id="sub-links"><span class="copy-16"><a href="#">Remove from shortlist</a></span> <span class="copy-16"><a href="#">Move</a></span></div>

</div>


</div>




</div>



</div>

</div>
</div>

</div>

</div>
</main>
</body>
</html>
