<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">


<p><a href="/">Home</a> > <a href="admin-console.html">Admin console</a> > Create account</p>


<h1 class="heading-48">Admin console</h1>

<div id="infocol">
</div>

<div id="mcontent">

<div id="inner">
<div class="login-group">

<div class="form-group">
            <label class="form-label" for="username">What type of user are you creating?</label>
            <select><option selected>Please choose</option>
             <option>Supplier</option>
			 <option>Buyer</option>
			 <option>Admin</option>

</select> 
</div>
<div class="form-group">
            <label class="form-label" for="username">First name:</label>
            <input type="text" class="form-control" id="firstname">   
</div>

<div class="form-group">
            <label class="form-label" for="username">Last name:</label>
            <input type="text" class="form-control" id="lastname">   
</div>


<div class="form-group">
            <label class="form-label" for="password">Email:</label>
            <input type="text" class="form-control" id="email">   
</div>


</div>
<p><button class="button">Create user</button></p>


</div>

</div>
</main>
</body>
</html>
