<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">


<p><a href="/">Home</a> > Admin console</p>


<h1 class="heading-48">Admin console</h1>

<div id="infocol">

<h3>Account information</h3>

<p><strong>Username</strong><br>
super.admin@gov.uk</p>
<p><strong>Password</strong><br>
Last changed 10/08/2013 </p>
<button class="button-secondary">Change</button>
</div>

<div id="mcontent">

<div id="inner">
<h3>Manage user accounts and listings</h3>
<p><button class="button" id="admin-create-user">Create user</button> <button class="button">Manage listings</button></p>





</div>

</div>
</main>
</body>
</html>
