<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">



<p><a href="/">Home</a> > Dashboard</p>


<h1 class="heading-48"><span class="heading-27">Camden Council </span>Emma Baker</h1>

<div id="infocol">

<h3>Account information</h3>

<p><strong>Username</strong><br>
emma.baker@camden.gov.uk</p>
<p><strong>Password</strong><br>
Last changed 02/05/2014 </p>
<button class="button">Change account information</button>

</div>

<div id="mcontent">
<div id="inner">

<h3>Shortlists</h3>
<ul id="profile-list">
<li><a href="project.html">Content management system</a><span class="del"><a href="#">Archive</a></span></li>
<li><a href="project.html">Antispam</a><span class="del"><a href="#">Archive</a></span></li>

</ul>



<h3>Saved searches</h3>
<ul id="profile-list">
<li><a href="#">Web hosting, up to £1000.00 per month</a><span class="del"><a href="#">Remove</a></span></li>
<li><a href="#">Content management systems, up to £8,000.00 per month </a><span class="del"><a href="#">Remove</a></span></li>
<li><a href="#">Email, up to £750.00 per month </a><span class="del"><a href="#">Remove</a></span>
</li>
</ul>

</div>
</div>

</div>

</div>
</main>
</body>
</html>
