<html>
<main id="content" role="main" class="group search ancillary">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

    <a href="index.html">Home</a>

<h1 class="heading-48">Buy and supply digital services</h1>

<div class="category-description"><p>Access a quick and easy way to buy and supply technology services in the public sector.</p></div>

<div class="procurement-services">


<div class="subcategory-group2">
<h3>CloudStore</h3>

<p><strong><a href="#">Go to CloudStore</a></strong></p>

<p>Public-sector organisations can use the CloudStore (G-Cloud) to review and buy cloud-based technology services from infrastructure to support. </p>



<ul>
<li>Information on buying and selling</li>
<li>Read the buyers guide</li>
<li>Read the suppliers guide</li>
<li>Edit supplier information</li>
</ul>

</div>
<div class="subcategory-group2"><h3>Digital Services Store</h3>

<p><strong><a href="#">Go to Digital Services Store</a></strong></p>

<p>Public-sector organisations can use the Digital Services Store to commission approved suppliers to help with their next technology project.</p>


<ul>
<li>Information on buying and selling</li>
<li>Read the buyers guide</li>
<li>Edit supplier information</li>
</ul>

</div>


<div class="subcategory-group2"><h3>Digital Marketplace <span class="alpha-tag">Alpha</span></h3><p>
<p><strong><a href="#">Try out Digital Marketplace Alpha</a></strong></p>

<p>Now in development, the Digital Marketplace Alpha will be the new home for buying and selling services. Please take a look and give us your feedback.
</p>

</div>
</div>

<p>
Read the <a href="#">Digital Marketplace blog</a> to get updates on the G-Cloud framework, the Digital Services framework, the Digital Services Store, the CloudStore and future developments on the Digital Marketplace.
</p>
</div>


</div>




</main>
</body>
</html>