<html>
<main id="content" role="main" class="group search ancillary">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

    
<h1 class="heading-48">Digital Marketplace</h1>

<h3>Transforming the way we buy and supply digital in the public sector</h3>

<form action="search_results.html" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  <div class="searchfield">
    <fieldset class="search-input">
<label for="search-main">
          <span class="visuallyhidden">Search</span>
      </label>
      <input type="search" name="q" value="Search for services" id="search-main">
</fieldset>
<fieldset>
<button type="submit" class="button">Search</button>
    </fieldset>
   
   </div>
 
 
 
<div id="holder">

<h2>Browse services</h2>
<div id="category">
    
<h3><a href="#">Software as a service</a></h3>
<p>SaaS is an application or service that can be run over the internet or on the cloud, for example email, customer relationship management, or analytics tools.</p>

<p><a href="#">Forms</a>, <a href="#">Analytics</a>, <a href="#">Collaboration</a>, <a href="search_results.html">Content Management Systems</a>, <a href="#">Management (CRM)</a>, <a href="#">more&hellip;</a></p>

</div>

<div id="category">

<h3><a href="#">Platform as a service</a></h3>
<p>PaaS is a service that allows users to set up a system on the cloud that other services and applications will be designed and built off of, for example an operating system or development environment.
</p>
<p><a href="#">Application Deployment</a>, <a href="#">Components</a>, <a href="#">Unlisted</a>, <a href="#">more&hellip;</a></p>
</div>

<div id="category">

<h3><a href="#">Infrastructure as a service</a></h3>
<p>IaaS are structures and facilities, provided over the internet, needed for the operation of platforms and applications to work, for example virtual server space, network connections and content delivery networks. 
</p>
<p><a href="#">Compute</a>, <a href="#">Storage</a>, <a href="#">Content Delivery Network</a>, <a href="#">Other</a>, <a href="#">more&hellip;</a></p>

</div>

<div id="category">

<h3><a href="#">Specialist cloud services</a></h3>
<p>Specialist Cloud Services support your transition to SaaS, PaaS and IaaS. For example cloud strategy, data transfer between providers, or day-to-day support of cloud-based services. </p>
<p><a href="#">Specialist cloud services</a>, <a href="#">service integration and management services</a></p>

</div>
</div>



</div>

</div>



    
</div>
</form>
    
</div>
</div>
</div>
</main>
</body>
</html>