<html>
<main id="content" role="main" class="group search ancillary">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

    <div class="alphadisclaimer">
<p>Please note that for procurement you will still need to use the <a href="http://govstore.service.gov.uk/cloudstore/">CloudStore</a>.</p>
</div>

<h1 class="heading-48">Digital Marketplace</h1>


<div class="strapline">
<h3>Buy cloud-based services quickly and easily</h3>
<p>The Digital Marketplace, or G-Cloud, can help you find and compare cloud services for your next technology project.</p>
</div>


<div id="makeshortlist">

<p><strong>Find digital services that match your requirements</strong></p>

<p><strong>Keywords</strong> (optional)</p>

<div class="form-group">
            <input type="text" class="form-control" id="username">   
</div>


<div class="top-cat-holder">

<div class="top-cat"><h3><a href="#lot-saas" id="lot-saas-button" data-total="4052" class="lot-button"><span class="lot">Business</a></h3></div>

<div class="top-cat"><h3><a href="#lot-paas" class="lot-button" data-total="362"><span class="lot">Development <span class="copy-19"></span></a></h3>
</div>


<div class="top-cat">
<h3><a href="#lot-iaas" class="lot-button" data-total="1026"><span class="lot">Infrastructure<span class="copy-19"></span></a>
</h3>
</div>

<div class="top-cat">
<h3><a href="#lot-scs" class="lot-button" data-total="7136"><span class="lot">Support <br><span class="copy-19"></span></a>
</h3>


</div>
</div>

<div id="lot-saas" class="lot-group">

<p>Find business applications that can be run over the internet or in the cloud. Web-based email services, customer relationship management (CRM) software and analytics technology are all examples of the Software as a Service (SaaS) tools you can find here.</p>


<p><strong>Which service are you interested in?</strong></p>
<p>
<a href="#"><span class="lot">Accessibility</span></a> 
<a href="#"><span class="lot">Agile tools</span></a> 
<a href="#"><span class="lot">Analytics</span></a>
<a href="#"><span class="lot">Antispam / CAPTCHA</span></a>
<a href="#"><span class="lot">Asset management</span></a>
<a href="#"><span class="lot">Content management systems</span></a>
<a href="#"><span class="lot">Customer relationship management</span></a>
<a href="#"><span class="lot">Data visualisation</span></a>
<a href="#"><span class="lot">EDRM / Collaboration</span></a>
<a href="#"><span class="lot">Email</span></a>
<a href="#"><span class="lot">End user device</span></a>
<a href="#"><span class="lot">Enterprise resource planning</span></a>
<a href="#"><span class="lot">Forms</span></a>
<a href="#"><span class="lot">Gamification</span></a>
<a href="#"><span class="lot">Geographic search</span></a>
<a href="#"><span class="lot">Identity</span></a>
<a href="#"><span class="lot">Learning management systems</span></a>
<a href="#"><span class="lot">Office productivity</span></a>
<a href="#"><span class="lot">Polls / surveys</span></a>
<a href="#"><span class="lot">Search</span></a>
<a href="#"><span class="lot">Service monitoring</span></a>
<a href="#"><span class="lot">Simulation and training</span></a>
<a href="#"><span class="lot">User alerts</span></a>
</p>
</div>

<div id="lot-paas" class="lot-group">

<p>Access software platforms for building services and applications. With Platform as a Service (PaaS), you can set up, order, pay for and manage platforms - all in the cloud. Examples of PaaS include SQL databases and operating systems. </p>

<p><strong>Which service are you interested in?</strong></p>
<p>
<a href="#"><span class="lot">Application deployment</span></a> 
<a href="#"><span class="lot">Components</span></a> 
</div>

<div id="lot-iaas" class="lot-group">
<p>Order and run Infrastructure as a Service (IaaS) entirely over the internet, without having to pay for expensive hardware. IaaS includes the networks, the hosting facilities and the servers that platforms and software depend on.</p>

<p><strong>What service type are you interested in?</strong></p>
<p>
<a href="#"><span class="lot">Managed</span></a> 
<a href="#"><span class="lot">Unmanaged</span></a> 
</div>


<div id="lot-scs" class="lot-group">
<p>Get help with cloud strategy, data transfer between providers or day-to-day management. These Specialist Cloud Services (SCS) can support your transition to SaaS, PaaS and IaaS.</p>
<p><strong>What service type are you interested in?</strong></p>
<p>
<a href="#"><span class="lot">Specialist Cloud Services</span></a> 
<a href="#"><span class="lot">Management Services</span></a> 
</div>



<h3><button class="button" id="home-search">Show results</button> <strong id="counter">13317</strong> <span class="copy-19">services</span></h3>



</div>






<div id="holder">

<h2>Browse cloud services</h2>
<div id="category">
    
<h3><a href="saas.html">Business</a></h3>
<p>Find business applications that can be run over the internet or in the cloud. Web-based email services, customer relationship management (CRM) software and analytics technology are all examples of the Software as a Service (SaaS) tools you can find here.
</p>

<p><a href="#">Forms</a>, <a href="#">Analytics</a>, <a href="#">Collaboration</a>, <a href="search_results.html">Content Management Systems</a>, <a href="#">Management (CRM)</a>, <a href="saas.html">more&hellip;</a></p>

</div>

<div id="category">

<h3><a href="#">Development</a></h3>
<p>Access software platforms for building services and applications. With Platform as a Service (PaaS), you can set up, order, pay for and manage platforms - all in the cloud. Examples of PaaS include SQL databases and operating systems. 


</p>
<p><a href="#">Application Deployment</a>, <a href="#">Components</a>, <a href="#">Unlisted</a>, <a href="#">more&hellip;</a></p>
</div>

<div id="category">

<h3><a href="#">Infrastructure</a></h3>
<p>
Order and run Infrastructure as a Service (IaaS) entirely over the internet, without having to pay for expensive hardware. IaaS includes the networks, the hosting facilities and the servers that platforms and software depend on.
</p>
<p><a href="#">Compute</a>, <a href="#">Storage</a>, <a href="#">Content Delivery Network</a>, <a href="#">Other</a>, <a href="#">more&hellip;</a></p>

</div>

<div id="category">

<h3><a href="#">Support</a></h3>
<p>Get help with cloud strategy, data transfer between providers or day-to-day management. These Specialist Cloud Services (SCS) can support your transition to SaaS, PaaS and IaaS.
</p>

<p><a href="#">Specialist Cloud Services</a>, <a href="#">Service Integration and Management Services</a></p>

</div>
</div>



</div>

</div>



    
</div>
</form>
    
</div>
</div>
</div>
</main>
</body>
</html>