<html>
<main id="content" role="main" class="group search ancillary">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

    
<div id="digitalmarketplace">
<h1>Digital Marketplace</h1>
</div>


<form action="search_results.html" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  <div class="searchfield">
    <fieldset class="search-input">
<label for="search-main">
          <span class="visuallyhidden">Search</span>
      </label>
      <input type="search" name="q" value="Search for services" id="search-main">
</fieldset>
<fieldset>
<button type="submit" class="button">Search</button>
    </fieldset>
   
   </div>
 
<div id="holder">

<h2>Browse services</h2>
<div id="category">
    
<h3>Content management systems</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 
</div>

<div id="category">

<h3>Hosting</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 

</div>

<div id="category">

<h3>Antispam</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 

</div>

<div id="category">

<h3>Analytics</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 
</div>
</div>



</div>

</div>



    
</div>
</form>
    
</div>
</div>
</div>
</main>
</body>
</html>