<html>
<main id="content" role="main" class="group search ancillary">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

<p><a href="/">Home</a> > <a href="search_results.html">Search results</a> > Umbraco</p>

<h1 class="heading-48"><span class="heading-27">Software as a service</span>Umbraco</h1>

<!-- <div id="brand">
<img class="brand" src="../public/images/large/umbraco.png" alt="umbraco" width="200">
</div>
-->


<div id="infocol">

<div id="infosection">

<button class="button" id="addtowatchlist">Save for later</button><br>

<div id="watchlist"><p><strong><a href="savedforlater.html">Saved for later</a></strong> (<a href="#">remove</a>)</p></div>

<h3>Price estimate</h3>
<span class="text-secondary">Please note that pricing depends on your requirements</span>
<div id="pricing">
<div id="price"><span class="heading-24"><strong>£775.00</strong></span>
</div>
<div id="price-unit">
per <a href="#" id="unitpickerbutton">month</a>

<div id="unitpickerm">
<p><a href="#">year</a></p>
<p><a href="#">user</a></p>
</div>


</div>


</div>



<h3>Service ID</h3>
4.G4.9936.227

<h3>Expires</h3>
01-08-2015


<h3>Supplier</h3>
<a href="supplier.html">Umbraco Ltd</a>
<p><button class="button-secondary">Share this listing</button></p>



</div>

 </div>
<div id="mcontent">

<div id="inner">


<h2>Description</h2>
<p>Our Umbraco CMS service provides a flexible, end-to-end, access-from-anywhere solution for website content management and hosting. Using the open source Umbraco CMS and honed through many years delivering CMS services to the public sector, this is modular, scalable and affordable approach to website content management.</p>

<p class="text-secondary">Was this description helpful? <a href="#">Yes</a> <a href="#">No</a></p>


<!--
<div id="listing-sect">
<div id="keywords">

<h2>Keywords</h2>
<div id="keyword">Content Management System</div> 
<div id="keyword">Configurable</div>
<div id="keyword">10,000 user accounts</div>
<div id="keyword">Support</div>
<div id="keyword">Bug fixing warranty</div>
</div>
</div>
!-->

<div id="listing-sect">
<h2>Highlights</h2>

<ul>
<li>Free trial</li>
<li>No termination fee</li>
<li>Cloud content management system</li>
<li>Add user profiles</li>
<li>Easy-to-use interface</li>
</ul>
</div>


<h2>Screenshots</h2>

<img class="screenshot" src="../public/images/umbraco-screen-2.jpg" width="95%"/>
<p><a href="#">Report image as spam</a></p>

<img src="../public/images/umbraco-screen-2.jpg" class="thumb-active" height="100" /> <img src="../public/images/umbraco-screen-3.jpg" class="thumb" height="100" />





<h2>Feature details</h2>


<div id="features">


<div id="fakeaccordion" class="fakeaccordion">

<div id="catname"><span class="copy-19"><strong>Accreditation and standards</strong></span></div>
<div class="exp"><a href="#" id="expand1" class="expander">Expand</a></div>
</div>

<table class="features" id="sainfo">

	<tr>
		<td>Impact level the service is accredited to by the public sector</td>
		<td>Department IL3</td> 
	</tr>


	<tr class="alternate">
		<td>Current security impact level</td>
		<td>Department IL 1/2, Department IL3</td> 
	</tr>
	
	<tr>
		<td>Role based security?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr class="alternate">
		<td>Do you comply with the <a href="http://www.cabinetoffice.gov.uk/openstandards">Government Open Standards Principles</a>?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr>
		<td>Support bulk input/export of data in standard formats?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Data centres</strong></span></div>
<div class="exp"><a href="#" id="expand2" class="expander">Expand</a></div>
</div>

<table class="features" id="securityinfo">

	<tr>
		<td>Data processing and storage location(s) - Country</td>
		<td>GBR</td> 
	</tr>


	<tr class="alternate">
		<td>Data centre tier</td>
		<td>£Tier 3 - TIA-942</span></td> 
	</tr>
	
	<tr>
		<td>Backup and disaster recovery?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr class="alternate">
		<td>Data extraction / removal crtieria met?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
</table>

<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Pricing and commercial</strong></span></div>
<div class="exp"><a href="#" id="expand3" class="expander">Expand</a></div>
</div>


<table class="features" id="technicalinfo">

	<tr>
		<td>Free option</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>


	<tr class="alternate">
		<td>Trial option</td>
		<td><img src="../public/images/x.png" alt="x" width="25" /></td>
	</tr>
	
	<tr>
		<td>Termination costs</td>
		<td><img src="../public/images/x.png" alt="x" width="25" /></td>
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract period</td>
		<td>Other</span></td> 
	</tr>
	
	<tr>
		<td>Payment options</td>
		<td>BACs, purchase order</td> 
	</tr>
	

</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Services</strong></span></div>
<div class="exp"><a href="#" id="expand4" class="expander">Expand</a></div>
</div>

<table class="features" id="processinfo">

	<tr>
		<td>Methodologies supported</td>
		<td>SCRUM</td> 
	</tr>


	<tr class="alternate">
		<td>Web browsers supported?</td>
		<td>IE7+, Chrome, Firefox</span></td> 
	</tr>
	
	<tr>
		<td>Smartphone / tablet access?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr class="alternate">
		<td>Anti-virus protection?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr>
		<td>Caching?</td>
		<td>Local, Off Site, Global</td> 
	</tr>
	
		<tr class="alternate">
		<td>Plugin / extension ready?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	<tr>
		<td>Plugin / extension marketplace?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
		<tr class="alternate">
		<td>Migration tools available?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
		<tr>
		<td>Is a support service provided and documented?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
		<tr class="alternate">
		<td>Service Desk can be used by 3rd party suppliers?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>

</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>CMS features</strong></span></div>
<div class="exp"><a href="#" id="expand5" class="expander">Close</a></div>
</div>

<table class="features" id="pricinginfo">
	
	<tr>
		<td>Workflow facilities?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
		<tr class="alternate">
		<td>Standard elements may be created and re-used?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	<tr>
		<td>May be edited/tested before publication?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
		<tr class="alternate">
		<td>Support for offline editing?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	
	<tr>
		<td>Syndication support?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
		<tr class="alternate">
		<td>Importable taxonomy?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr>
		<td>Folksonomy support?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
		
		<tr class="alternate">
		<td>Forum capabilities?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	
	<tr>
		<td>Content rating capabilities?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
		<tr class="alternate">
		<td>Social networks?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	<tr>
		<td>Solution provides social media sharing e.g. tweet this?</td>
		<td><img src="../public/images/Tick.png" width="25"/></td> 
	</tr>
	
	
	</table>
</div>
	

<div class="listing-sect">

<h2>Q&A</h2>

<p>Questions answered by <strong>Alex Price</strong>, Community Manager at Umbraco</p>

<p><button class="button" id="askquestion">Ask a question</button> (<a href="#" id="showlogin">if they're not logged in...</a>)</p>



<div class="login" id="loginform1">
<div class="exp"><a href="#" id="closeform">Close</a></div>

<h3>Login to ask a question <br><span class="copy-19">(<a href="#">I don't have an account</a>)
</span></h3>

<div class="login-group">
<div class="form-group">
            <label class="form-label" for="username">Username:</label>
            <input type="text" class="form-control" id="username">   
</div>

<div class="form-group">
            <label class="form-label" for="password">Password:</label>
            <input type="password" name="password" class="form-control" id="password">   

</div>
</div>

<p><button class="button">Login</button> &ensp;<a href="reset.html">Forgotten password</a>
</p>
</div>




<div class="qfeedback">
<div class="exp"><a href="#" id="feedbackclose">Close</a></div>
<p><strong>Question sent successfully</strong></p>
</div>


<div class="questionform">
<div class="exp"><a href="#" id="questionclose">Close</a></div>
<h3>Ask a question</h3>
<p>Please note that questions asked will be public. If you want to ask a private question please contact the supplier directly.</p>


<div class="adv-form-group">
<input type="text" class="adv-form-control" value="">   
</div>
    


<p><button class="button" id="submitquestion">Submit question</button></p>

</div>

<div id="question" class="alternate">
<span class="copy-16">Published 11/04/2014 &middot; 35 people found this helpful</span>
</span><br>

<p><strong>"Is there a limit to the number of user accounts I can add?"</strong></p>
You can add up to 100,000 user accounts - if you need more than this ... (<a href="#">view full answer</a>)
</div>


<div id="question">
<span class="copy-16">Published 11/04/2014 &middot; 17 people found this helpful</span>
<p><strong>"Does this have a configurable workflow?"</strong></p>
Yes. 
</div>

<div id="question"  class="alternate">
<span class="copy-16">Published 11/04/2014 &middot; 5 people found this helpful</span>
<p><strong>"Does this support JSR170 and JSR283 protocols?"</strong></p>
Yes.
</div>

<div id="question">
<span class="copy-16">Published 11/04/2014 &middot; 2 people found this helpful</span>
<p><strong>"How do I integrate Umbraco with my existing database?"</strong></p>
It depends on the database - we have prepared some information here ...
(<a href="#">view full answer</a>)
</div>

<div id="question"  class="alternate">
<span class="copy-16">Published 11/04/2014 &middot; 1 person found this helpful</span>
<p><strong>"Does Umbraco support Welsh?"</strong></p>
Yes.
</div>


<div id="extraquestions">

<div id="question">
<span class="copy-16">0 people found this question helpful</span>
<p><strong>"Does it support search engine optimisation? For example can I customise metadata and breadcrumbs? Is there support for microdata?"</strong></p>
<a href="#">Show answer</a>
</div>

<div id="question"  class="alternate">
<span class="copy-16">0 people found this question helpful</span>
<p><strong>"Is the interface WYSIWYG?" </strong></p>
<a href="#" class="show-answer2">Show answer</a>

<div id="answer2"><p><strong>Answer</strong></p><p>Yes, the Umbraco content management system has the option of a WYSIWYG editor.</p> 
<p class="text-secondary">Was this answer helpful? <a href="#">Yes</a> <a href="#">No</a></p>
</div>
</div>

</div>

</div>

<p><a href="#" id="viewextraqs">Show next 5 questions</a></p>

</div>




<div id="listing-sect">

<h2>Contact supplier</h2>

<ul id="profile-list">
<li><strong>Name</strong><span class="del">Nick Butter</a></span>
<li><strong>Number</strong><span class="del">0800 001002321</a></span>
<li><strong>Email</strong><span class="del"><a href="#">nicolas.butter@.com</a></span>
</li>
<p class="text-secondary"><a href="#">Report out of date contact details</a></p>

</div>



<div id="listing-sect">
<h2>Documents</h2>
<p class="text-secondary">These are provided as PDFs</p>

<ul id="profile-list">
<li><a href="#">Terms and Conditions</a> <span class="del"><a href="#"><span class="copy-16">Report bad document</a></span></li>
<li><a href="#">Service Definition </a><span class="del"><a href="#"><span class="copy-16">Report bad document</a></span></li>
<li><a href="#">Supporting Documents</a><span class="del"><a href="#"><span class="copy-16">Report bad document</a></span>
</li>
</div>




</div>
</div>
</div>

</div>
</main>
</body>
</html>
