<html>
<main id="content" role="main" class="group search ancillary">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

<p><a href="/">Home</a> > <a href="search_results.html">Search results</a> > Umbraco</p>

<h1 class="heading-48"><span class="heading-27">Content management systems</span>Umbraco</h1>

<!-- <div id="brand">
<img class="brand" src="../public/images/large/umbraco.png" alt="umbraco" width="200">
</div>
-->


<div id="infocol">
<button class="button">Add to shortlist</button>

<div id="infosection">
<h3>Pricing</h3>

<div id="pricing">
<div id="price"><span class="heading-24">£775.00</span>
</div>


<div id="price-unit">
<a href="#">per month</a>

<!--
<select class="single-row-select" id="publication_filter_option" name="publication_filter_option">
<option value="all" selected="">Month</option>
<option value="consultations">Year</option>
<option value="open-consultations">User</option>
<option value="closed-consultations">Other</option>
</optgroup>
</select>
-->

</div>
</div>
</div>



<div id="rating">
<!--

<h3><strong>184</strong> rated</h3>

<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star-no"></div>
</div>

<p><a href="#">Rate now</a></p>

<div id="line"></div>


<div id="rating">
<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
</div>


<p>"This is a great value product and much better than other options we tried..." <span class="copy-16"><a href="#">Read more</a><br><strong>Chris Harrison</strong>, HMRC<br>33 found this review useful</p>
</div>



<div id="rating">
<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star-no"></div>
<div id="star-no"></div>
</div>
<p>"I found this product to be useful, but hard to configure so make sure you..." <span class="copy-16"><a href="#">Read more</a><br><strong>Amy Watkins</strong>, Lambeth Council<br>12 found this review useful</p>
</div>


</div>


<div id="infosection">

-->


<div id="line">
<p>By Umbraco Ltd</p>
<p><a href="supplier.html">View supplier page</a></p>
</div>

<!--

<h2>How many use it?</h2>
<div id="feedback">10 use it</div>

<button class="button">I use this product</button>
-->

</div>

 </div>
<div id="mcontent">

<div id="inner">

<img class="screenshot" src="../public/images/umbraco-screen-1.jpg" width="95%"/>

<p><strong>1</strong> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a>  </p>



<h2>Description</h2>
<p>Our Umbraco CMS service provides a flexible, end-to-end, access-from-anywhere solution for website content management and hosting. Using the open source Umbraco CMS and honed through many years delivering CMS services to the public sector, this is modular, scalable and affordable approach to website content management. Connect is a certified Umbraco Partner.</p>

<p class="text-secondary">Was this description helpful? <a href="#">Yes</a> <a href="#">No</a></p>


<!--
<div id="listing-sect">
<div id="keywords">

<h2>Keywords</h2>
<div id="keyword">Content Management System</div> 
<div id="keyword">Configurable</div>
<div id="keyword">10,000 user accounts</div>
<div id="keyword">Support</div>
<div id="keyword">Bug fixing warranty</div>
</div>
</div>
!-->

<div id="listing-sect">
<h2>Highlights</h2>

<ul>
<li>Free trial</li>
<li>No termination fee</li>
<li>Cloud content management system</li>
<li>Add user profiles</li>
<li>Easy-to-use interface</li>
</ul>
</div>




<div class="listing-sect">

<h2>Q&A</h2>

<p>Questions answered by <strong>Alex Price</strong>, Community Manager at Umbraco</p>

<button class="button" id="askquestion">Ask a question</button>

<div class="questionform">
<div class="exp"><a href="#" id="questionclose">Close</a></div>
<h3>Ask a question</h3>
<div class="adv-form-group">
<label>Full name</label>
<p><strong>Emma Baker</strong> <a href="#">I'm not Emma Baker</a></p>
</div>  
<div class="adv-form-group">
<label>Question</label>
<input type="text" class="adv-form-control" value="How do I...?">   
</div>      
    

<div class="checkboxes">
 <label for="x"><input type="checkbox" id="x" /> <span>I understand that my question and name will be public</span></label>
</div>

<p><button class="button">Submit question</button></p>

</div>

<div id="question" class="alternate">
<span class="copy-16">35 people found this question useful</span>
<p><strong>"Is there a limit to the number of user accounts I can add?"</strong></p>
<a href="#" class="show-answer">Show answer</a>
<div id="answer1"><p><strong>Answer</strong></p><p>You can add up to 100,000 user accounts - if you need more than this Umbraco may not be the CMS for you. Alex</p> 
<p class="text-secondary">Was this answer helpful? <a href="#">Yes</a> <a href="#">No</a></p>
</div>
</div>


<div class="question">
<span class="copy-16">17 people found this question useful</span>
<p><strong>Does this have a configurable workflow?</strong></p>
<a href="#">Show answer</a>
</div>

<div id="question"  class="alternate">
<span class="copy-16">5 people found this question useful</span>
<p><strong>Does this support JSR170 and JSR283 protocols?</strong></p>
<a href="#">Show answer</a>
</div>

<p><a href="#">View 11 more questions</a></p>

</div>



<h2>Feature details</h2>
<div id="features">


<div id="fakeaccordion" class="fakeaccordion">

<div id="catname"><span class="copy-19"><strong>Service Level Agreement</strong></span></div>
<div class="exp"><a href="#" id="expand1" class="expander">Expand</a></div>
</div>

<table class="features" id="sainfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</td> 
	</tr>
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>

</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Security</strong></span></div>
<div class="exp"><a href="#" id="expand2" class="expander">Expand</a></div>
</div>

<table class="features" id="securityinfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</span></td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</span></td> 
	</tr>
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>

</table>

<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Technical</strong></span></div>
<div class="exp"><a href="#" id="expand3" class="expander">Expand</a></div>
</div>


<table class="features" id="technicalinfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</span></td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</span></td> 
	</tr>
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>

</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Processes</strong></span></div>
<div class="exp"><a href="#" id="expand4" class="expander">Expand</a></div>
</div>

<table class="features" id="processinfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</span></td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</span></td> 
	</tr>
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>

</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Pricing and contract</strong></span></div>
<div class="exp"><a href="#" id="expand5" class="expander">Close</a></div>
</div>

<table class="features" id="pricinginfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</span></td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</span></td> 
	</tr>
	
	
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	<!--
	<tr>
		<td>Easy-to-use interface</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
		<tr class="alternate">
		<td>Help and support</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	<tr>
		<td>Plugin/extension ready</td>
		<td><span class="cross">&#65794;</span></td>
	</tr>
			<tr class="alternate">
		<td>Project management capabilities</td>
		<td><span class="cross">&#65794;</span></td>
	</tr>
	-->
</table>

	
	<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Location</strong></span></div>
<div class="exp"><a href="#" id="expand6" class="expander">Expand</a></div>
</div>

<table class="features" id="locationinfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</span></td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</span></td> 
	</tr>
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>

</table>


<div id="fakeaccordion" class="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Availability</strong></span></div>
<div class="exp"><a href="#" id="expand7" class="expander">Expand</a></div>
</div>


<table class="features" id="availabilityinfo">

	<tr>
		<td>Basic pricing</td>
		<td>£750.00 per month</td> 
	</tr>


	<tr class="alternate">
		<td>Fully-featured package</td>
		<td>£400.00 per month</span></td> 
	</tr>
	
	<tr>
		<td>Support package</td>
		<td>£250.00 per month</td> 
	</tr>
	
	<tr class="alternate">
		<td>Minimum contract length</td>
		<td>1 month</span></td> 
	</tr>
	
	<tr>
		<td>Early contract cancellation</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>Free add-ons </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>

</table>






<div id="listing-sect">

<h2>Contact supplier</h2>

<ul id="profile-list">
<li><strong>Name</strong><span class="del">Nick Butter</a></span>
<li><strong>Number</strong><span class="del">0800 001002321</a></span>
<li><strong>Email</strong><span class="del"><a href="#">nicolas.butter@umbraco.com</a></span>
</li>
<p class="text-secondary"><a href="#">Report out of date contact details</a></p>

</div>



<div id="listing-sect">
<h2>Documents</h2>
<p class="text-secondary">These are provided as PDFs</p>

<ul id="profile-list">
<li><a href="#">Terms and Conditions</a> <span class="del"><a href="#"><span class="copy-16">Report bad document</a></span></li>
<li><a href="#">Service Definition </a><span class="del"><a href="#"><span class="copy-16">Report bad document</a></span></li>
<li><a href="#">Supporting Documents</a><span class="del"><a href="#"><span class="copy-16">Report bad document</a></span>
</li>
</div>




</div>
</div>
</div>

</div>
</main>
</body>
</html>
