<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

<p><a href="/">Home</a> > <a href="search_results.html">Search results</a> > Umbraco</p>

<h1 class="heading-48"><span class="heading-27">Content management systems</span>Umbraco</h1>

<!-- <div id="brand">
<img class="brand" src="../public/images/large/umbraco.png" alt="umbraco" width="200">
</div>
-->


<div id="infocol">
<button class="button">Add to shortlist</button>

<div id="infosection">
<h3>Pricing</h3>

<div id="pricing">
<div id="price"><span class="heading-36">£775.00</span>
</div>
<div id="price-unit">


<select class="single-row-select" id="publication_filter_option" name="publication_filter_option">
<option value="all" selected="">Month</option>
<option value="consultations">Year</option>
<option value="open-consultations">User</option>
<option value="closed-consultations">Other</option>
</optgroup>
</select>

</div>
</div>
</div>


<div id="rating">
<h3>Rating </h3>

<strong>184</strong> rated

<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star-no"></div>
</div>

<p><a href="#">Rate now</a></p>

<div id="line"></div>


<div id="rating">
<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
</div>
<p>"This is a great value product and much better than other options we tried..." <span class="copy-16"><a href="#">Read more</a><br><strong>Chris Harrison</strong>, HMRC<br>33 found this review useful</p>
</div>



<div id="rating">
<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star-no"></div>
<div id="star-no"></div>
</div>
<p>"I found this product to be useful, but hard to configure so make sure you..." <span class="copy-16"><a href="#">Read more</a><br><strong>Amy Watkins</strong>, Lambeth Council<br>12 found this review useful</p>
</div>



</div>





<div id="infosection">


<div id="line">
<p><a href="supplier.html">View supplier page</a></p>
</div>

<!--
<h2>How many use it?</h2>
<div id="feedback">10 use it</div>

<button class="button">I use this product</button>
-->
</div>

 </div>
<div id="mcontent">

<div id="inner">



<h2>Description</h2>
<p>Our Umbraco CMS service provides a flexible, end-to-end, access-from-anywhere solution for website content management and hosting. Using the open source Umbraco CMS and honed through many years delivering CMS services to the public sector, this is modular, scalable and affordable approach to website content management. Connect is a certified Umbraco Partner.</p>

<p><a href="#">Was this description helpful?</a></p>

<h2>Key features</h2>

<ul>
<li>Free trial</li>
<li>No termination fee</li>
<li>Cloud content management system</li>
<li>Add user profiles</li>
<li>Easy-to-use interface</li>
</ul>


<h2>Feature details</h2>
<div id="features">


<div id="fakeaccordion">

<div id="catname"><span class="copy-19"><strong>CMS</strong></span></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Security</strong></span></div>
<div id="exp"><a href="#">Expand</a></div>
</div>

<div id="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Technical</strong></span></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Anti-spam</strong></span></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="fakeaccordion">
<div id="catname"><span class="copy-19"><strong>Personalisation</strong></span></div>
<div id="exp"><a href="#">Expand</a></div>
</div>

<table class="features">

	<tr>
		<td>Service features</td>
		<td>Free option available &middot on boarding documented &middot off boarding documented &middot unit based pricing available</td> 
	</tr>

	
	<tr class="alternate">
		<td>Content management system</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	
	<tr>
		<td>User profiles</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>On-boarding process e.g. moving on to the service </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	
	<tr>
		<td>Easy-to-use interface</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
		<tr class="alternate">
		<td>Help and support</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	<tr>
		<td>Plugin/extension ready</td>
		<td><span class="cross">&#65794;</span></td>
	</tr>
			<tr class="alternate">
		<td>Project management capabilities</td>
		<td><span class="cross">&#65794;</span></td>
	</tr>
</table>

	
	<div id="fakeaccordion">
<div id="catname"><strong>Misc</strong></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="listing-sect">
<h2>Buyer Q&A</h2>

<button class="button">Ask a question</button>


<div id="question" class="alternate">
<p><strong>Question</strong> <br>Is there a limit to the number of user accounts I can add?</p>
<p><strong>Answer</strong> <br>Yes - you can add up to 10,000 user accounts</p>
</div>


<div id="question">
<p><strong>Question</strong> <br>Does this have a configurable workflow?</p>
<p><strong>Answer</strong> <br>Yes</p>
</div>

<div id="question"  class="alternate">
<p><strong>Question</strong> <br>Does this support JSR170 and JSR283 protocols?</p>
<p><strong>Answer</strong> <br>Yes</p>
</div>

<p><a href="#">View 11 more questions</a></p>

</div>


<div id="listing-sect">

<h2>Contact supplier</h2>

<ul id="profile-list">
<li><strong>Name</strong><span class="del">Nick Butter</a></span>
<li><strong>Number</strong><span class="del">0800 001002321</a></span>
<li><strong>Email</strong><span class="del"><a href="#">nicolas.butter@umbraco.com</a></span>
</li>

</div>



<div id="listing-sect">
<h2>Documents</h2>
<p class="text-secondary">These are provided as PDFs</p>

<ul id="profile-list">
<li><a href="#">Terms and Conditions</a> <span class="del"><a href="#"><span class="copy-16">Flag bad document</a></span></li>
<li><a href="#">Service Definition </a><span class="del"><a href="#"><span class="copy-16">Flag bad document</a></span></li>
<li><a href="#">Supporting Documents</a><span class="del"><a href="#"><span class="copy-16">Flag bad document</a></span>
</li>
</div>




</div>
</div>
</div>

</div>
</main>
</body>
</html>
