<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-38"><span class="heading-27">Account </span>Login to Digital Marketplace</h1>


<p><a href="#">I don't have an account</a></p>

<div class="login-group">
<div class="form-group">
            <label class="form-label" for="username">Username:</label>
            <input type="text" class="form-control" id="username">   
</div>

<div class="form-group">
            <label class="form-label" for="password">Password:</label>
            <input type="password" name="password" class="form-control" id="password">   

</div>
</div>

<p><button class="button">Login</button> &ensp;<a href="reset.html">Forgotten password</a>
</p>


</div>

</div>

</div>
</main>
</body>
</html>
