<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-48"><span class="heading-27">Lambeth Council </span>Ms Baker</h1>

<h2>Account information</h2>

<p><strong>Username:</strong> emma.baker@lambeth.gov.uk <a href="#">Change</a></p>
<p><strong>Password:</strong> Last changed 20/12/2013 <a href="#">Change</a></p>


<h2>Saved searches</h2>
<ul id="savedsearches">
<li><a href="#">Web hosting, up to £1000.00 per month</a></br>34 new results <span class="del"><a href="#">Remove</a></span></li>
<li><a href="#">Content management systems, up to £8,000.00 per month </a></br>10 new results<span class="del"><a href="#">Remove</a></span></li>
<li><a href="#">Email, up to £750.00 per month </a></br>5 new results<span class="del"><a href="#">Remove</a></span>
</li>
</ul>


</div>

</div>
</main>
</body>
</html>
