<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">



<p><a href="/">Home</a> > Profile</p>


<h1 class="heading-48"><span class="heading-27">Lambeth Council </span>Emma Baker</h1>

<div id="infocol">

<h3>Account information</h3>

<button class="button-secondary">Change</button>
<p><strong>Username</strong><br>
emma.baker@lambeth.gov.uk</p>
<p><strong>Password</strong><br>
Last changed 20/12/2013 </p>
</div>

<div id="mcontent">
<div id="inner">

<button class="button">Add a new project</button>

<h3>Projects</h3>

<ul id="profile-list">
<li><a href="add-project-with-compare.html">Lambeth Council website refresh</a></br>5 collaborators <span class="del"><a href="#">Archive</a></span></li>
</ul>



<h3>Saved searches</h3>
<ul id="profile-list">
<li><a href="#">Web hosting, up to £1000.00 per month</a></br>34 new results <span class="del"><a href="#">Remove</a></span></li>
<li><a href="#">Content management systems, up to £8,000.00 per month </a></br>10 new results<span class="del"><a href="#">Remove</a></span></li>
<li><a href="#">Email, up to £750.00 per month </a></br>5 new results<span class="del"><a href="#">Remove</a></span>
</li>
</ul>

</div>
</div>

</div>

</div>
</main>
</body>
</html>
