<html>
   <main id="content" role="main">
      <body>
         <div id="outer-wrapper">
            <div id="inner-wrapper">
               <p><a href="/">Home</a> > <a href="profile.html">Profile</a> > New project</p>
               <h1 class="heading-48"><span class="heading-27">Projects </span>New project</h1>
               <div class="project-name">
                  <p>Name (optional)</p>
                  <div class="adv-form-group">
                     <input type="text" class="adv-form-control" value="e.g. Website for Camden">   
                  </div>
                 <button class="button">Save</button>
               </div>
              <!--<div class="project-desc">
                  <p>Project description</p>
                  <div class="adv-form-group">
                     <input type="text" class="adv-form-control" value="Project description">   
                  </div>
                  -->
             
               <div class="shortlist">
                  <h2>Shortlists</h2>
                  <p>Add shortlists by performing a search - you can add multiple shortlists to a project.</p>
                  <div class="shortlist-header">
                  
                     <h3>"content management system", free trial, analytics</h3>
                                   <button class="button">Delete</button> <a href="#">Rename</a>
                                             <div class="eval-crit-box"><span class="eval-crit">Free trial, WYSIWYG editor, Support for 20 users</span><a href="#">Edit criteria notes</a> </div></div>
                  <p>Added from search on 9-04-2014 by Emma Baker<br> <a href="#">"content management system", free trial, analytics</a></p>



                  <h3>33 items on shortlist</h3>
                
                  
               <div class="shortlist-item">
               <div class="exp"><a href="#" id="remove-from-shortlist"><b>Remove from shortlist</b></a></div>
                  <p class="product"><a href="#">Achieve CMS</a></p>
                  <p class="supplier">by Business Web Software t/a Firmstep</p>
                                    <a href="#">Add note</a>
               </div>
               
               <div class="remove-reason">
               <div class="exp"><a href="#">Cancel</a></div>
               
               <p><strong>Why are you removing this from your shortlist?</strong></p>
               <input type="text" class="adv-form-control" value=""> 
               <p><button class="button">Save</button></p>
				</div> 
               
           
               
               <div class="shortlist-item">
               <div class="exp"><a href="#"><b>Remove from shortlist</b></a></div>
                  <p class="product"><a href="#">Contensis - core Web CMS (Enterprise Licence)</a></p>
                  <p class="supplier">by Zengenti Limited</p>
                  <a href="#">Add note</a>

               </div>
               <div class="shortlist-item">
               <div class="exp"><a href="#"><b>Remove from shortlist</b></a></div>
                  <p class="product"><a href="listing.html">Umbraco</a></p>
                  <p class="supplier">by Umbraco Ltd</p>
                  	                <a href="#">Add note</a>
                  	               

                 <div class="shortlist-note">This looks promising - let's keep this in</div>
               </div>
               
               
               
               <div class="shortlist-bin">
               <h3><strong>Results removed from shortlist</strong> (21) - <a href="#">Show</a></h3>
            <!--
               <div class="shortlist-item-removed">
               <div class="exp"><a href="#">Add to shortlist</a></div>
                  <p class="product"><a href="#">Cloud Open Source CMS(Wordpress)</a></p>
                  <p class="supplier">by Connect Internet Solutions Ltd</p>
                   <div class="shortlist-note">Lacks support for the number of user accounts we need - we need support for at least 20 but it seems to be for smaller/personal use, so it's not appropriate for us</div>
                    </div>
                    
                 <div class="shortlist-item-removed">
               <div class="exp"><a href="#">Add to shortlist</a></div>
                  <p class="product"><a href="#">RhinoCloud</a></p>
                  <p class="supplier">by RhinoCloud Ltd</p>
                   <div class="shortlist-note">Not sure this is a relevant result. Description is full of spam terms - we're finding it hard to tell what this actually is. </div>
                    </div>
               
               -->
               </div>
            </div>
         </div>
   
   </main>
   </body>
</html>