<html>
   <main id="content" role="main">
      <body>
         <div id="outer-wrapper">
            <div id="inner-wrapper">
               <p><a href="/">Home</a> > <a href="profile.html">Profile</a> > New project</p>
               <h1 class="heading-48"><span class="heading-27">Projects </span>New project</h1>
               <div class="project-name">
                  <p>Name (optional)</p>
                  <div class="adv-form-group">
                     <input type="text" class="adv-form-control" value="e.g. Website for Camden">   
                  </div>
                 <button class="button">Save</button>
               </div>
              <!--<div class="project-desc">
                  <p>Project description</p>
                  <div class="adv-form-group">
                     <input type="text" class="adv-form-control" value="Project description">   
                  </div>
                  -->
             
               <div class="shortlist">
                  <h2>Shortlists</h2>
                  <p>Create new shortlists by <a href="#">searching</a> and adding search results to a new or existing shortlist.</p>
                  
                 
                  <div class="shortlist-header">
                  
                     <h2>"Content management system", free trial, analytics</h2>                                    <button class="button">Delete</button> <button class="button-secondary">Rename this shortlist</button>

                            <p>Added from search on 9-04-2014 by Emma Baker<br> <a href="#">"content management system", free trial, analytics</a></p></div>
<h3>Shortlist requirement notes</h3>

                                               
                 <div class="shortlist-note">Free trial, WYSIWYG editor, support for at least 20 users</div>
                 <p><a href="#">Edit</a></p>
                 
                  <h3>33 items on shortlist</h3>
                
                <div class="active-shortlist">
                               <div class="shortlist-item">
               <div class="exp"><a href="#" id="remove-from-shortlist"><p>Remove from shortlist</p></a></div>
                  <p class="product"><a href="#">Achieve CMS</a></p>
                  <p class="supplier">by Business Web Software t/a Firmstep</p>
                                    <a href="#" class="shortlist-links">Add note</a> <a href="#">Share link</a>
                 <div class="shortlist-note">This doesn't have the support we need - need to remove (EB)</div>

               </div>
               
               
               
               <div id="remove-reason">
               <p><strong>Please provide the reason for removing this from your shortlist</strong></p>
               <p><input type="text" class="adv-form-control" value=""></p>
                <p><button class="button" id="save-reason">Save</button> <a href="#" id="cancel-remove">Cancel</a></p>
				</div> 
               
           
               
               <div class="shortlist-item">
               <div class="exp"><a href="#"><p>Remove from shortlist</p></a></div>
                  <p class="product"><a href="#">Contensis - core Web CMS (Enterprise Licence)</a></p>
                  <p class="supplier">by Zengenti Limited</p>
                  <a href="#" class="shortlist-links">Add note</a>  <a href="#">Share link</a>
                                   <div class="shortlist-note">Umbraco and this one are my two favourites (EB)</div>

               </div>
               <div class="shortlist-item">
               <div class="exp"><a href="#"><p>Remove from shortlist</p></a></div>
                  <p class="product"><a href="listing.html">Umbraco</a></p>
                  <p class="supplier">by Umbraco Ltd</p>
                  	                <a href="#" class="shortlist-links">Add note</a>  <a href="#">Share link</a>

                  	        

                 <div class="shortlist-note">I like the look of this - what do you think, Alex? (EB)</div>
               </div>
               
   
           
               
               <div class="shortlist-item">
               <div class="exp"><a href="#"><p>Remove from shortlist</p></a></div>
                  <p class="product"><a href="#">CloudSquared</a></p>
                  <p class="supplier">by Geni Ltd</p>
                  <a href="#" class="shortlist-links">Add note</a>  <a href="#">Share link</a>

               </div>
               <div class="shortlist-item">
               <div class="exp"><a href="#"><p>Remove from shortlist</p></a></div>
                  <p class="product"><a href="listing.html">House CMS</a></p>
                  <p class="supplier">by Hut Ltd</p>
                  <a href="#" class="shortlist-links">Add note</a>  <a href="#">Share link</a>     

               </div>
               </div>  

               
               <div class="shortlist-bin">
               <h3><strong>Results removed from shortlist</strong> (21) - <a href="#">Hide</a></h3>
           
               <div class="shortlist-item-removed">
               <div class="exp"><a href="#">Add to shortlist</a></div>
                  <p class="product"><a href="#">Cloud Open Source CMS(Wordpress)</a></p>
                  <p class="supplier">by Connect Internet Solutions Ltd</p>
                   <div class="shortlist-note"><strong>Removal reason</strong><br>Lacks support for the number of user accounts we need - we need support for at least 20 but it seems to be for smaller/personal use, so it's not appropriate for us</div>
                    </div>
                    
                 <div class="shortlist-item-removed">
               <div class="exp"><a href="#">Add to shortlist</a></div>
                  <p class="product"><a href="#">RhinoCloud</a></p>
                  <p class="supplier">by RhinoCloud Ltd</p>
                   <div class="shortlist-note"><strong>Removal reason</strong><br>Not sure this is a relevant result. Description is full of spam terms - we're finding it hard to tell what this actually is. </div>
                    </div>
               
            
               </div>
            </div>
         </div>
   
   </main>
   </body>
</html>