<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">


<p><a href="/">Home</a> > Reset your password</p>



<h1 class="heading-38"><span class="heading-27">Account </span>Reset your password</h1>

<p>Enter your email address and we'll send you a link so you can reset your password.</p>


<div class="login-group">
<div class="form-group">
            <label class="form-label" for="email">Email address:</label>
            <input type="text" class="form-control" id="email">   
</div>


<p><button class="button">Email me the link</button></p>
<p><span class="email-sent"><strong>A link has been sent to your email</strong></span></p>

</p>


</div>

</div>

</div>
</main>
</body>
</html>
