<html>
<main id="content" role="main" class="group search ancillary">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">
<p><a href="/">Home</a> > SaaS</p>
    
<h1 class="heading-48">Software as a service</h1>


<div id="mcontent">
<h2>About SaaS</h2>

<p>Building a system that meets all your needs can work out very expensive, and time consuming. SaaS offers fully functional applications on-demand, providing greater flexibility, and typically you pay only for the number of users you need on a subscription basis, which can be scaled up and down based on your needs. SaaS offers a wide range of services such as email management, Customer Relationship Management, Case Management, and the list of applications keeps on growing.</p>

<p>With a SaaS, you are buying for the use of a provider’s application, and the cloud infrastructure used to run it. Applications are typically accessible from various devices through a interfaces such as a web browser. You do not manage or control the underlying cloud infrastructure including network, servers, operating systems, storage, or even individual application capabilities, with the possible exception of limited user-specific application configuration settings.
</p>

<h2>What to consider when buying SaaS</h2>

<h3>Requirements</h3>
<p>Consider all of your requirements when searching for a service, this should include technical, procurement and security.</p>


<h3>Onboarding / offboarding</h3>
<p>
Consider the onboarding and offboarding costs along with the cost of the service. Suppliers must provide the costs for entry into the service, along with the exits costs to return your data in a usable format.
</p>

<h3>Integration / standards</h3>
<p>Consider the the integration requirements for the service. Does it need to integrate with your current identity service, or existing systems? Does the service support Open Standards for data exchange?</p>

</div>
<div id="infocol">
<ul>
<li><a href="#">Accessibility</a></li>
<li><a href="#">Agile tools</a></li>
<li><a href="#">Analytics</a></li>
<li><a href="#">Antispam / CAPTCHA</a></li>
<li><a href="#">Asset management</a></li>
<li><a href="#">Content management systems</a></li>
<li><a href="#">Customer relationship management</a></li>
<li><a href="#">Data visualisation</a></li>
<li><a href="#">EDRM / Collaboration</a></li>
<li><a href="#">Email</a></li>
<li><a href="#">End user device</a></li>
<li><a href="#">Enterprise resource planning</a></li>
<li><a href="#">Forms</a></li>
<li><a href="#">Gamification</a></li>
<li><a href="#">Geographic search</a></li>
<li><a href="#">Identity</a></li>
<li><a href="#">Learning management systems</a></li>
<li><a href="#">Office productivity</a></li>
<li><a href="#">Polls/surveys</a></li>
<li><a href="#">Search</a></li>
<li><a href="#">Service monitoring</a></li>
<li><a href="#">Simulation and training</a></li>
<li><a href="#">User alerts</a></li>
<li><a href="#">Unlisted</a></li>

</ul>

</div>

</div>





</div>

</div>



    
</div>
</div>
</main>
</body>
</html>