<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">



<p><a href="/">Home</a> > Saved for later</p>

<div id="infocol">


</div>

<div id="mcontent">
<div id="inner">

<h1 class="heading-48">Saved for later</h1>
<p class="text-secondary">Results saved for later will appear here</p>
 
 <div class="search-container">
  <div class="search-result"> 
<div class="exp"><p><a href="#">Remove</a></p></div>
 <p class="product"><a href="listing.html">Cloud Open Source CMS(Wordpress)</a></p>
  <p class="supplier">by Connect Internet Solutions Ltd</p>
</div>
</div>



 <div class="search-result"> 
<div class="exp"><p><a href="#">Remove</a></p></div>
 <p class="product"><a href="listing.html">Umbraco</a></p>
  <p class="supplier">by Umbraco Ltd</p>
</div>

</div>
</div>

</main>
</body>
</html>
