<html>
<main id="content" role="main">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">
<p><a href="/">Home</a> > <a href="profile.html">Profile</a> > Saved for later</p>

</div>

<div id="mcontent">
<h1 class="heading-48">Saved for later</h1>

  <div class="search-result"> 
<div class="exp"><p><a href="#">Remove</a></p></div>
 <p class="product"><a href="listing.html">Umbraco</a></p>
  <p class="supplier">by Umbraco Ltd</p>
 <span class="copy-16">Our Cloud Umbraco CMS service provides a flexible, end-to-end, access-from-anywhere solution for website <span class="searchterm">content management</span>...</span>
</div>


</div>



</div>
</div>


</main>
</body>
</html>