<html>
<body>
  <main id="content" role="main" class="group search ancillary">
    <div id="outer-wrapper">
      <div id="inner-wrapper">

        <div class="alphadisclaimer">
          <p>Please note that for procurement you will still need to use the <a href="http://govstore.service.gov.uk/cloudstore/">CloudStore</a>.</p>
        </div>

        <h1 class="heading-48">Digital Marketplace</h1>


        <div class="strapline">
          <p>A simpler way to buy and sell digital services in the public sector</p>
        </div>




        <div class="set-service-reqs">

          <div id="searchbuilder">

            <h2>Set your service requirements</h2>


            <div class="searchbuilder-container">


              <div class="searchbuilder-container-bit keywords-section open">
                <div id="picked" class="options">
                  <h3>
                    Add your keywords
                  </h3>
                </div>
                <input type="text" id="keywords" autocomplete="off" placeholder="eg Email" />
                <input type="button" id="addKeyword" value="Add" />
                <ul id="suggestions">
                </ul>

              </div>

              <div class="searchbuilder-container-bit servicetype-section open">

                <h3>
                  <span class="closedCopy">
                    Service type
                  </span>
                  <span class="openCopy">
                    Set your service type
                  </span>
                </h3>

                <label class="chunk dontCount toggleSections">
                  <input type="radio" name="category-type" checked="checked" />
                  All services
                </label>
                <label class="chunk toggleSections">
                  <input type="radio" name="category-type" data-target="SCS" />
                  Cloud support
                </label>
                <label class="chunk toggleSections">
                  <input type="radio" name="category-type" data-target="PAAS"  />
                  Cloud technology
                </label>

                <input type="button" class="nextButton" value="Next" />
              </div>

              <div class="searchbuilder-container-bit">
                <h3>
                  <span class="closedCopy">
                    Pricing options
                  </span>
                  <span class="openCopy">
                    Set your pricing options
                  </span>
                </h3>
                <label class="chunk"><input type="checkbox" /> Has a resource element</label>
                <label class="chunk"><input type="checkbox" /> Aggregated billing options</label>
                <label class="chunk"><input type="checkbox" /> Minimum Contract Period</label>
                <label class="chunk"><input type="checkbox" /> Free Option</label>
                <label class="chunk"><input type="checkbox" /> Trial Option</label>
                <label class="chunk"><input type="checkbox" /> Termination Costs</label>
                <label class="chunk"><input type="checkbox" /> Payment Options</label>
                <label class="chunk"><input type="checkbox" /> Education Pricing</label>
                <input type="button" class="nextButton" value="Next" />
              </div>
              <div class="searchbuilder-container-bit hidden hideable section-PAAS">
                <h3>
                  <span class="closedCopy">
                    Service management options
                  </span>
                  <span class="openCopy">
                    Set your service management options
                  </span>
                </h3>
                <label class="chunk"><input type="checkbox" /> On-boarding process e.g. moving on to the service</label>
                <label class="chunk"><input type="checkbox" /> Off-boarding process e.g. moving off the service</label>
                <label class="chunk"><input type="checkbox" /> Data extraction / removal criteria met</label>
                <label class="chunk"><input type="checkbox" /> Data location option can be defined by user</label>
                <label class="chunk"><input type="checkbox" /> Data centres adhere to EU Code of Conduct for Operations</label>
                <label class="chunk"><input type="checkbox" /> Data centre tier</label>
<label class="chunk"><input type="checkbox" /> Performance attributes defined and documented</label>
<label class="chunk"><input type="checkbox" /> Backup &amp; Disaster Recovery</label>
                <label class="chunk"><input type="checkbox" /> Support boundaries / interfaces documented</label>
<label class="chunk"><input type="checkbox" /> 'Real time' management information available</label>
<label class="chunk"><input type="checkbox" /> Self service provisioning/de-provisioning</label>
<label class="chunk"><input type="checkbox" /> Time for provisioning/de-provisioning documented</label>
                <label class="chunk"><input type="checkbox" /> Service roadmap provided</label>
</div>
<div class="searchbuilder-container-bit hideable hidden section-PAAS">
  <h3>
    <span class="closedCopy">
      Cloud technology options
    </span>
    <span class="openCopy">
      Set your cloud technology options
    </span>
  </h3>
                <label class="chunk"><input type="checkbox" /> Performance attributes defined and documented</label>
  <label class="chunk"><input type="checkbox" /> Guaranteed/non-guaranteed resources defined</label>
  <label class="chunk"><input type="checkbox" /> Persistence/non-persistence of storage defined</label>
                <label class="chunk"><input type="checkbox" /> Backup &amp; Disaster Recovery</label>
</div>
<div class="searchbuilder-container-bit hideable hidden section-SCS">
  <h3>
    <span class="closedCopy">
      Cloud support options
    </span>
    <span class="openCopy">
      Set your cloud support options
    </span>
  </h3>
                <label class="chunk"><input type="checkbox" /> Support service provided and documented</label>
<label class="chunk"><input type="checkbox" /> If the vendor(s) have accreditation, are you accredited</label>
<label class="chunk"><input type="checkbox" /> Onboarding services</label>
                <label class="chunk"><input type="checkbox" /> 'Real time' management information available</label>
                <label class="chunk"><input type="checkbox" /> Self service provisioning/de-provisioning</label>
                <label class="chunk"><input type="checkbox" /> Time for provisioning/de-provisioning documented</label>
                <label class="chunk"><input type="checkbox" /> Service Desk can be used by 3rd party suppliers</label>
                <input type="button" class="nextButton" value="Next" />
              </div>
              <div class="searchbuilder-container-bit hideable hidden section-PAAS">
                <h3>
                  <span class="closedCopy">
                    Cloud technology options
                  </span>
                  <span class="openCopy">
                    Set your cloud technology options
                  </span>
                </h3>
                <label class="chunk"><input type="checkbox" /> Has elastic/burstable resources defined? </label>
                <label class="chunk"><input type="checkbox" /> Guaranteed/non-guaranteed resources defined</label>
                <label class="chunk"><input type="checkbox" /> Persistence/non-persistence of storage defined</label>
                <label class="chunk"><input type="checkbox" /> Application libraries are defined and documented</label>
                <input type="button" class="nextButton" value="Next" />
              </div>
              <div class="searchbuilder-container-bit hideable hidden section-SCS">
                <h3>
                  <span class="closedCopy">
                    Cloud support options
                  </span>
                  <span class="openCopy">
                    Set your cloud support options
                  </span>
                </h3>
                <label class="chunk"><input type="checkbox" /> Vendor specific services</label>
                <label class="chunk"><input type="checkbox" /> Accredited by vendor</label>
                <label class="chunk"><input type="checkbox" /> Onboarding services</label>
                <label class="chunk"><input type="checkbox" /> Design Authority</label>
                <label class="chunk"><input type="checkbox" /> Business Analysis</label>
                <label class="chunk"><input type="checkbox" /> Design and Development</label>
                <label class="chunk"><input type="checkbox" /> Project Specification and Selection</label>
                <label class="chunk"><input type="checkbox" /> Deployment</label>
                <label class="chunk"><input type="checkbox" /> Transition Management</label>
                <label class="chunk"><input type="checkbox" /> User Management</label>
                <label class="chunk"><input type="checkbox" /> Agile: development and management</label>
                <label class="chunk"><input type="checkbox" /> Enterprise Architecture</label>
                <label class="chunk"><input type="checkbox" /> Project Management, Programme Management and Governance</label>
                <label class="chunk"><input type="checkbox" /> Service and Systems Integration</label>
                <label class="chunk"><input type="checkbox" /> Service Management</label>
                <label class="chunk"><input type="checkbox" /> Software Support</label>
                <label class="chunk"><input type="checkbox" /> Helpdesk</label>
                <label class="chunk"><input type="checkbox" /> Testing</label>
                <label class="chunk"><input type="checkbox" /> Training</label>
                <label class="chunk"><input type="checkbox" /> Editorial</label>
                <label class="chunk"><input type="checkbox" /> Application management and support</label>
                <label class="chunk"><input type="checkbox" /> Strategy and implementation services</label>
                <label class="chunk"><input type="checkbox" /> End user device support services</label>
                <label class="chunk"><input type="checkbox" /> Application Lifecycle Services</label>
              </div>
            </div>
            <div class="searchbuilder-count">
              <button type="submit" class="button" id="searchbuilderbutton">Show <span id="resultCount">XXXXX</span> services</button>
            </div>
          </div>
        </div>




        <div id="holder">

          <h2>Browse services</h2>
          <div id="category">

            <h3><a href="saas.html">Business software</a></h3>
            <p>Find business applications that can be run over the internet or in the cloud. Web-based email services, customer relationship management (CRM) software and analytics technology are all examples of the Software as a Service (SaaS) tools you
              can find here.
            </p>
            <p><a href="#">Forms</a>, <a href="#">Analytics</a>, <a href="#">Collaboration</a>, <a href="search_results.html">Content Management Systems</a>, <a href="#">Management (CRM)</a>, <a href="saas.html">more&hellip;</a>
            </p>

          </div>

          <div id="category">

            <h3><a href="#">Development tools</a></h3>
            <p>Access software platforms for building services and applications. With Platform as a Service (PaaS), you can set up, order, pay for and manage platforms - all in the cloud. Examples of PaaS include SQL databases and operating systems.
            </p>
            <p><a href="#">Application Deployment</a>, <a href="#">Components</a>, <a href="#">Unlisted</a>, <a href="#">more&hellip;</a>
            </p>
          </div>

          <div id="category">

            <h3><a href="#">Infrastructure resources</a></h3>
            <p>Order and run Infrastructure as a Service (IaaS) entirely over the internet, without having to pay for expensive hardware. IaaS includes the networks, the hosting facilities and the servers that platforms and software depend on.
            </p>
            <p><a href="#">Compute</a>, <a href="#">Storage</a>, <a href="#">Content Delivery Network</a>, <a href="#">Other</a>, <a href="#">more&hellip;</a>
            </p>

          </div>

          <div id="category">

            <h3><a href="#">Support services</a></h3>
            <p>Get help with cloud strategy, data transfer between providers or day-to-day management. These Specialist Cloud Services (SCS) can support your transition to SaaS, PaaS and IaaS.
            </p>
            <p><a href="#">Specialist cloud services</a>, <a href="#">service integration and management services</a>
            </p>

          </div>
        </div>

      </div>
    </div>
  </main>
</body>

</html>
