<html>
<body>
  <main id="content" role="main" class="group search ancillary">
    <div id="outer-wrapper">
      <div id="inner-wrapper">

        <div class="alphadisclaimer">
          <p>Please note that for procurement you will still need to use the <a href="http://govstore.service.gov.uk/cloudstore/">CloudStore</a>.</p>
        </div>

        <h1 class="heading-48">Digital Marketplace</h1>


        <div class="strapline">
          <p>A simpler way to buy and sell digital services in the public sector</p>
        </div>




        <div class="set-service-reqs">

          <div id="searchbuilder">
            <div class="exp">
              <p><a href="#">Reset search</a>
              </p>
            </div>
            <h2>Set your service requirements</h2>


            <div class="searchbuilder-container">

              <div class="searchbuilder-container-bit open">
                <p>What are you looking for?</p>

                <label class="chunk">
                  <input type="checkbox" name="category-type" />Cloud support</label>
                <label class="chunk">
                  <input type="checkbox" name="category-type" />Cloud technology</label>

              </div>


              <div class="searchbuilder-container-bit">
                <p>Add your keywords</p>


                <form action="search_results.html" id="searchBuilder" role="search">
                  <ul id="picked" class="options">
                  </ul>
                  <input type="text" id="keywords" autocomplete="off" placeholder="eg Email" />
                  <ul id="suggestions">
                  </ul>
                </form>

              </div>



              <div class="searchbuilder-container-bit">
                <p>Add your requirements</p>

                <div class="searchbuilder-container-add-button">
                  <p>Security</p>
                </div>
                <div class="searchbuilder-container-add-button">
                  <p>Service management</p>
                </div>
                <div class="searchbuilder-container-add-button">
                  <p>Pricing and commercial</p>
                </div>
              </div>

            </div>



            <div class="searchbuilder-count">

              <button type="submit" class="button" id="searchbuilderbutton">Show services</button>
              <h2 class="count-results">303 <span class="copy-19">results</span></h2>

            </div>
          </div>
        </div>




        <div id="holder">

          <h2>Browse services</h2>
          <div id="category">

            <h3><a href="saas.html">Business software</a></h3>
            <p>Find business applications that can be run over the internet or in the cloud. Web-based email services, customer relationship management (CRM) software and analytics technology are all examples of the Software as a Service (SaaS) tools you
              can find here.
            </p>
            <p><a href="#">Forms</a>, <a href="#">Analytics</a>, <a href="#">Collaboration</a>, <a href="search_results.html">Content Management Systems</a>, <a href="#">Management (CRM)</a>, <a href="saas.html">more&hellip;</a>
            </p>

          </div>

          <div id="category">

            <h3><a href="#">Development tools</a></h3>
            <p>Access software platforms for building services and applications. With Platform as a Service (PaaS), you can set up, order, pay for and manage platforms - all in the cloud. Examples of PaaS include SQL databases and operating systems.
            </p>
            <p><a href="#">Application Deployment</a>, <a href="#">Components</a>, <a href="#">Unlisted</a>, <a href="#">more&hellip;</a>
            </p>
          </div>

          <div id="category">

            <h3><a href="#">Infrastructure resources</a></h3>
            <p>Order and run Infrastructure as a Service (IaaS) entirely over the internet, without having to pay for expensive hardware. IaaS includes the networks, the hosting facilities and the servers that platforms and software depend on.
            </p>
            <p><a href="#">Compute</a>, <a href="#">Storage</a>, <a href="#">Content Delivery Network</a>, <a href="#">Other</a>, <a href="#">more&hellip;</a>
            </p>

          </div>

          <div id="category">

            <h3><a href="#">Support services</a></h3>
            <p>Get help with cloud strategy, data transfer between providers or day-to-day management. These Specialist Cloud Services (SCS) can support your transition to SaaS, PaaS and IaaS.
            </p>
            <p><a href="#">Specialist cloud services</a>, <a href="#">service integration and management services</a>
            </p>

          </div>
        </div>

      </div>
    </div>
  </main>
</body>

</html>
