<html>
<main id="content" role="main">
<body>
<div id="outer-wrapper">
<div id="inner-wrapper">


<a href="#"><p><href="#">< Back</a></p>
<h1 class="heading-48">Share</h1>

  <fieldset><legend class="heading-24">
            Share a link
          </legend>
          <p><a href="#">Umbraco CMS</a></p>
          
<div class="form-group">
            <label class="form-label" for="username">Your email</label>
            <input type="text" class="form-control" id="username">   
</div>

          
<div class="form-group">
            <label class="form-label" for="username">Your name</label>
            <input type="text" class="form-control" id="username">   
</div>

<div class="form-group">
            <label class="form-label" for="password">Recipient's name</label>
            <input type="password" name="password" class="form-control" id="recipient-email">   
</div>


<div class="form-group">
            <label class="form-label" for="password">Recipient's email</label>
            <input type="password" name="password" class="form-control" id="recipient-email">   
</div>


<p><button class="button" action="index.html">Send</button></p>

</div>
</div>

</main>
</body>
</html>