<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-38"><span class="heading-27">Account </span>Create a Digital Marketplace account</h1>

<p><a href="login.html">I already have an account</a></p>

  <fieldset><legend class="heading-24">
Your details          </legend>
          
<div class="form-group">
            <label class="form-label" for="username">Full name:</label>
            <input type="text" class="form-control" id="fullname">   
</div>

<div class="form-group">
            <label class="form-label" for="email">Email address:</label>
            <input type="text" class="form-control" id="emailaddress">   
</div>

<div class="form-group">
            <label class="form-label" for="password">Password:</label>
            <input type="text" class="form-control" id="password">   
</div>


<div class="form-group">
            <label class="form-label" for="password">Password again:</label>
            <input type="text" class="form-control" id="password">   
</div>

<p><button class="button">Create an account</button></p>




</div>

</div>

</div>
</main>
</body>
</html>
