<html>
<main id="content" role="main" class="group search ancillary">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">


<h1 class="heading-48"><span class="heading-27">Content management systems</span>IBM</h1>



<div id="infocol">


<img class="brand" src="../public/images/ibm-logo.jpg" width="200">


<div id="rating">
<h3>Rating across products</h3>
<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
</div>
<p><a href="#">Rating breakdown</a></p>
</div>
 </div>
<div id="mcontent">




<div id="inner">



<h2>Description</h2>
<p>IBM is a globally integrated enterprise operating in over 170 countries. Today IBM UK has around 20,000 employees, bringing innovative solutions to a diverse client base to help solve some of their toughest business challenges. In addition to being the world's largest IT and consulting services company, IBM is a global business and technology leader, innovating in research and development to shape the future of society at large. IBM's prized research, development and technical talent around the world partner with governments, corporations, thinkers and doers on ground breaking real world problems to help make the world work better and build a smarter planet.</p>

<p class="text-secondary">Was this description helpful? <a href="#">Yes</a> <a href="#">No</a></p>


<h2>Products</h2>


<div id="wrap">
<form action="search_results.html" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  <div class="searchfield">
    <fieldset class="search-input">
<label for="search-main">
          <span class="visuallyhidden">Search</span>
      </label>
      <input type="search" name="q" value="Search for services" id="search-main">
</fieldset>
<fieldset>
<button type="submit" class="button">Search</button>
    </fieldset>
   
   </div>
</div>


<div id="holder">

<div id="category">
    
<h3>Content management systems</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 
</div>

<div id="category">

<h3>Hosting</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 

</div>

<div id="category">

<h3>Antispam</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 

</div>

<div id="category">

<h3>Analytics</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 
</div>
</div>


</div>
</div>
</div>

</div>
</main>
</body>
</html>
