<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-48"><span class="heading-27">Supplier </span>Umbraco</h1>

<div id="infocol">

<h3>Account information</h3>

<button class="button-secondary">Change</button>
<p><strong>Username</strong><br>
alex.scott@umbraco.com</p>
<p><strong>Password</strong><br>
Last changed 10/08/2013 </p>
</div>

<div id="mcontent">
<div id="inner">

<h2>Company profile</h2>

<h3><strong>Umbraco Ltd</strong></h3>

<p><a href="#">Umbraco supplier page</a>  <span class="text-secondary">last updated 20/03/2014</span></p>

<h3>Products</h3>

<p><strong>Umbraco</strong><br>
<a href="#">Product page</a> <span class="text-secondary">last updated 20/03/2014</span></p>

<h3><strong>Questions and answers</strong></h3>


<div class="questioncategory">
<p><strong>3 open questions</strong></p>
</div>


<!--
<div class="answerposted">
<span class="heading-24">Answer posted</span>
<p>You can edit the answer for the next 15 minutes.</p>
<p>"Yes, the CMS is easily configurable and we are happy to provide support."</p>
<p><a href="#">Edit answer</a></p>
</div>
--> 



<div class="qmd">
<span class="copy-16">New question posted by <strong>Emily Gogh</strong>, 28/03/2014 at 5:45pm</span></div>
<div id="question" class="alternate">

<p><strong>"Is the CMS easy to configure?"</strong></p>
<p><button class="button">Answer</button></p>
</div>

<div class="qmd">
<span class="copy-16">New question posted by <strong>James Jones</strong>, 27/03/2014 at 1:45pm</span>
</div>
<div id="question" class="alternate">
<p><strong>"Is there a limit to the number of user accounts I can add?"</strong></p>
<p><button class="button" id="answerq">Answer</button></p>



<div class="questionform2">
<h3>Answer question</h3>
You can edit this after posting
<div class="adv-form-group">
<input type="text" class="adv-form-control" value="">   
</div>      
    

<p> <button class="button" id="submitans">Submit answer</button> <a href="#" id="cancelansq">Cancel</a></p>

</div>
</div>


<div class="questioncategory">

<span class="heading-27">2 closed questions</span>
</div>

<p><a href="#">View and manage questions</a></p>

</div>


</div>

</div>
</main>
</body>
</html>
