<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-48"><span class="heading-27">Umbraco </span>Bob Scott</h1>

<div id="infocol">

<h3>Account information</h3>

<button class="button-secondary">Change</button>
<p><strong>Username</strong><br>
bob.scott@umbraco.com</p>
<p><strong>Password</strong><br>
Last changed 10/08/2013 </p>
</div>

<div id="mcontent">
<div id="inner">

<h2>Companies</h2>

<h3>Umbraco Ltd</h3>
<a href="#">Manage company information</a>

<h2>Products</h2>

<ul id="profile-list">
<li><a href="#">Umbraco CMS</a><br>11 unanswered questions <br>2,193 daily views <a href="#">View analytics</a> <span class="del"><a href="#">Edit</a></span></li>
</ul>

<button class="button">Add a new product</button>

<a href="#">Manage product information</a>





</div>

</div>
</main>
</body>
</html>
