<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-48"><span class="heading-27">Umbraco </span>Alex Scott</h1>

<div id="infocol">

<h3>Account information</h3>

<button class="button-secondary">Change</button>
<p><strong>Username</strong><br>
alex.scott@umbraco.com</p>
<p><strong>Password</strong><br>
Last changed 10/08/2013 </p>
</div>

<div id="mcontent">
<div id="inner">

<h2>Company profiles</h2>

<button class="button">Add a company</button>

<p><strong>Company name</strong></p>
<p><strong>Umbraco Ltd</strong><br>
<a href="#">Umbraco supplier page</a> last updated 20/03/2014.</p>

<p><strong>Products</strong></p>

<p><strong>Umbraco</strong></p>
<p>CMS</p>

<button class="button">Add a new product</button>

<h2>Questions</h2>
<p>3 unanswered questions</p>
<p>New question posted by Emily Gogh, 28/03/2014 at 5:45pm</p>
<div id="question" class="alternate">
<p><strong>"Is it easily configurable?"</strong></p>
<p><button class="button">Answer question</button></p>
</div>



<p>New question posted by James Jones, 27/03/2014 at 1:45pm</p>
<div id="question" class="alternate">
<p><strong>"Is there a limit to the number of user accounts I can add?"</strong></p>
<p><button class="button">Answer question</button></p>
</div>



</div>


</div>

</div>
</main>
</body>
</html>
