<html>
<main id="content" role="main" class="group search ancillary">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

<p><a href="/">Home</a> > <a href="#">Suppliers</a> > Umbraco</p>

<h1 class="heading-48"><span class="heading-27">Supplier</span>Umbraco</h1>



<div id="infocol">


<img class="brand" src="../public/images/umbraco.png" width="200">
<p><a href="#">Umbraco homepage</a></p>

<!--
<div id="rating">
<h3>Rating across products</h3>
<div id="stars">
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
<div id="star"></div>
</div>
<p><a href="#">Rating breakdown</a></p>
</div>

 -->
  </div>
<div id="mcontent">




<div id="inner">

<h2>Description</h2>
<p>Umbraco is a fully-featured open source content management system with the flexibility to run anything from small campaign or brochure sites right through to complex applications for Fortune 500's and some of the largest media sites in the world.</p>

<p>...Oh, and did we mention that it's free?</p>

<p>Umbraco is easy to learn and use, making it perfect for web designers, developers and content creators alike.</p>

<p>
You can be up and running in just a few minutes with our simple installer. Either apply one of the included starter kits or seamlessly integrate your own design.</p>

<p>Umbraco is strongly supported by both an active and welcoming community of users around the world, and backed up by a rock-solid commercial organization providing professional support and tools. Umbraco can be used in its free, open-source format with the additional option of professional tools and support if required.</p>

<p class="text-secondary">Was this description helpful? <a href="#">Yes</a> <a href="#">No</a></p>

<h2>Case studies</h2>
<p><a href="#">Art and Object</a></p>
<p><a href="#">Bellcom</a></p>
<p><a href="#">Heinz.com</a></p>
<p><a href="#">Read more case studies on Umbraco's website</a></p>

<h2>Awards</h2>
<h3>2013</h3> 
<p>Technology Award: Database and Technology / HANA Co-innovation Partner of the Year</p>

<p>Service Award: Service Expansion Award</p> 
<p>Reseller Award: VAR/Reseller of the Year and Service Expansion Award</p>

<h3>2012</h3>
<p>Technology Award: Global Technology Partner of the Year</p>
<p>Service Award: Transformational Award - Rapid Time to Value</p>

<h3>2011</h3>
<p>Service Award: Quality Partner of the Year</p>
<p>Communities Award: Community Leadership and Social Commerce Engagement</p>

<h3>2010</h3>
<p>Service Award: Leader in Customer Satisfaction (Original Title - Customer Satisfaction of the Year)</p>
<p>Technology Award: Global Technology Partner of the Year </p>

<h2>Key clients</h2>
<img class="client-logo" src="../public/images/cnn-logo.jpg" width="100">
<img class="client-logo" src="../public/images/MSFT_logo_png.png" alt="MSFT_logo_png" width="210">
<!--
<h2>Products</h2>


<div id="wrap">
<form action="search_results.html" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  <div class="searchfield">
    <fieldset class="search-input">
<label for="search-main">
          <span class="visuallyhidden">Search</span>
      </label>
      <input type="search" name="q" value="Search IBM services" id="search-main">
</fieldset>
<fieldset>
<button type="submit" class="button">Search</button>
    </fieldset>
   
   </div>
</div>


<div id="holder">

<div id="category">
    
<h3>Content management systems</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 
</div>

<div id="category">

<h3>Hosting</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 

</div>

<div id="category">

<h3>Antispam</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 

</div>

<div id="category">

<h3>Analytics</h3>
<ul>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li><a href="#">Sub-category</a></li>
<li>&raquo; <a href="#">See more</a></li>
</ul> 
</div>
</div>

-->


</div>
</div>
</div>

</div>
</main>
</body>
</html>
