<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">


<p><a href="/">Home</a> > Company dashboard</p>



<div class="supplier-notification"><div class="exp"><a href="#"><span class="copy-19">&times;</span></a></div><p><strong>You have 5 new open questions.</strong> <a href="#">Answer now</a></p></div>
<h1 class="heading-48"><span class="heading-27">Supplier dashboard</span>IBM</h1>

<div id="infocol">

<h3>Account information</h3>

<button class="button-secondary">Change</button>
<p><strong>Username</strong><br>
alex.scott@ibm.com</p>
<p><strong>Password</strong><br>
Last changed 10/08/2013 </p>
</div>

<div id="mcontent">
<div id="inner">
<h3>Company information</h3>
<p class="service-item"><a href="#">IBM company information</a></p>

<h3>Services</h3>

<div class="service-list-item">
<p><a href="#">IBM mobile strategy accelerator</a></p>
<div class="analytics"><p><strong>304</strong> views</p></div>
<div class="analytics"><p><strong>5</strong> questions asked</p></div>
<div class="analytics"><p><strong>5</strong> shortlisted</p></div>
<div class="arrow"><a href="#">View &rsaquo;</a></div>
</div>



<div class="service-list-item">
<p><a href="#">IBM SPSS Data Collection Phone Interviews</a></p>
<div class="analytics"><p><strong>304</strong> views</p></div>
<div class="analytics"><p><strong>5</strong> questions asked</p></div>
<div class="analytics"><p><strong>5</strong> shortlisted</p></div>
<div class="arrow"><a href="#">View &rsaquo;</a></div>
</div>



<div class="service-list-item">
<p><a href="#">IBM Sterling B2B Collaboration Network</a></p>
<div class="analytics"><p><strong>304</strong> views</p></div>
<div class="analytics"><p><strong>5</strong> questions asked</p></div>
<div class="analytics"><p><strong>5</strong> shortlisted</p></div>
<div class="arrow"><a href="#">View &rsaquo;</a></div>
</div>

<p class="service-item-see-all"><a href="#">See all services</a></p>

<h3>Open questions on your services</h3>
<p><a href="#">Show all open questions</a></p>


<div class="service-question">
<p><a href="#">IBM SPSS Data Collection Phone Interviews</a></p>
<div class="exp"><a href="#">Hide questions</a></div>
<div class="open-questions"><p><strong>5 open questions</strong></p></div>
<div class="qmd">
<span class="copy-16">New question posted by <strong>Sansa Stark</strong>, 28/03/2014 at 5:45pm</span></div>
<div class="question">
<p><strong>"Is the CMS easy to configure?"</strong></p>
<p><button class="button">Answer</button></p>
</div>


<div class="qmd">
<span class="copy-16">New question posted by <strong>Rob Stark</strong>, 28/03/2014 at 5:45pm</span></div>
<div class="question">
<p><strong>"Is it WYSIWYG?"</strong></p>
<p><button class="button">Answer</button></p>
</div>

<div class="qmd">
<span class="copy-16">New question posted by <strong>Bran Stark</strong>, 28/03/2014 at 5:45pm</span></div>
<div class="question">
<p><strong>"Is there a free option?"</strong></p>
<p><button class="button">Answer</button></p></div>
</div>

<div class="service-question">
<p><a href="#">IBM SPSS Data Collection Phone Interviews</a></p>
<div class="exp"><a href="#">Show questions</a></div>
<div class="open-questions"><p><strong>2 open questions</strong></p></div>
</div>

<div class="service-question">
<p><a href="#">IBM mobile strategy accelerator</a></p>
<div class="exp"><a href="#">Show questions</a></div>
<div class="open-questions"><p><strong>1 open question</strong></p></div>
</div>


<h3>Questions you have asked</h3>

<div class="service-question">
<p><a href="#">IBM SPSS Data Collection Phone Interviews</a></p>
<div class="exp"><a href="#">Hide questions</a></div>
<div class="open-questions"><p><strong>1 question</strong></p></div>
<div class="qmd">
<span class="copy-16">New question posted by <strong>Andrew Hanna</strong>, 21/02/2014 at 5:45pm</span></div>
<div class="question">
<p><strong>"Do you manage backups?"</strong></p>
<p><button class="button">Edit</button></p>
</div>
</div>

<h3>Shortlists</h3>
<ul id="profile-list">
<li><a href="#">Content management systems</a><span class="del"><a href="#">Remove</a></span></li>
</li>
</ul>

<h3>Saved searches</h3>
<ul id="profile-list">
<li><a href="#">Content management system</a><span class="del"><a href="#">Archive</a></span></li>
</li>
</ul>



<h3>Get in touch with the Digital Marketplace</h3>
<p>Questions about the procurement process or have some feedback on our product? Get in touch. </p>
<p><button class="button">Contact us on Zendesk</button></p>




<!--
<h3><strong>Questions and answers</strong></h3>


<div class="questioncategory">
<p><strong>3 open questions</strong></p>
</div>



<div class="answerposted">
<span class="heading-24">Answer posted</span>
<p>You can edit the answer for the next 15 minutes.</p>
<p>"Yes, the CMS is easily configurable and we are happy to provide support."</p>
<p><a href="#">Edit answer</a></p>
</div>
--> 


<!--
<div class="qmd">
<span class="copy-16">New question posted by <strong>Emily Gogh</strong>, 28/03/2014 at 5:45pm</span></div>
<div id="question" class="alternate">

<p><strong>"Is the CMS easy to configure?"</strong></p>
<p><button class="button">Answer</button></p>
</div>

<div class="qmd">
<span class="copy-16">New question posted by <strong>James Jones</strong>, 27/03/2014 at 1:45pm</span>
</div>
<div id="question" class="alternate">
<p><strong>"Is there a limit to the number of user accounts I can add?"</strong></p>
<p><button class="button" id="answerq">Answer</button></p>



<div class="questionform2">
<h3>Answer question</h3>
You can edit this after posting
<div class="adv-form-group">
<input type="text" class="adv-form-control" value="">   
</div>      
    

<p> <button class="button" id="submitans">Submit answer</button> <a href="#" id="cancelansq">Cancel</a></p>

</div>
</div>


<div class="questioncategory">

<span class="heading-27">2 closed questions</span>
</div>

<p><a href="#">View and manage questions</a></p>
-->
</div>
</div>
</div>

</div>

</div>
</main>
</body>
</html>
