<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">





<h1 class="heading-48"><span class="heading-27">Umbraco </span>Alex Scott</h1>

<div id="infocol">

<h3>Account information</h3>

<button class="button-secondary">Change</button>
<p><strong>Username</strong><br>
alex.scott@umbraco.com</p>
<p><strong>Password</strong><br>
Last changed 10/08/2013 </p>
</div>

<div id="mcontent">
<div id="inner">

<h2>Company profiles</h2>

<button class="button">Add a company</button>


<h3>Umbraco Ltd</h3>

<p><strong>Products by Umbraco</strong></p>

<p>Umbraco CMS <br>11 unanswered questions, 2,193 daily views. <a href="#">View analytics</a>

<button class="button">Add a new product</button>





</div>

</div>
</main>
</body>
</html>
