<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">



<h1 class="heading-38"><span class="heading-27">Account </span>User account confirmation</h1>

<p>Please set a new password</p>


<div id="pw">
<div class="login-group">
<div id="pw-feedback"><p><span class="pw-failed"><strong>Your password must be a minimum of 8 characters</strong></span></p></div>

<div class="form-group">
            <label class="form-label" for="password">Password:</label>
            <input type="password" name="password" class="form-control" id="password">
</div>

<div class="form-group">
            <label class="form-label" for="password">Password again:</label>
            <input type="password" name="password" class="form-control" id="password">
</div>
</div>
</div>

<input type="checkbox" name="option1" value="t&cs"> 
<label>I accept the <a href="https://digitalmarketplace.service.gov.uk/digitalmarketplace/terms-and-conditions">Terms and Conditions</a> of the Digital Marketplace
</label>

<p><button class="button">Save new password</button></p>


</div>




</div>

</div>

</div>
</main>
</body>
</html>
