@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/


h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 300%;
  font-weight: bold;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  vertical-align: baseline; }
  @media (max-width: 640px) {
    h1 {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    h1 {
      padding-top: 7px;
      padding-bottom: 13px; } }

h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold; }
  @media (max-width: 640px) {
    h2 {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    h2 {
      padding-top: 6px;
      padding-bottom: 9px; } }

h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  font-weight: bold; }
  @media (max-width: 640px) {
    h3 {
      font-size: 20px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    h3 {
      padding-top: 6px;
      padding-bottom: 4px; } }

h4 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  font-weight: bold; }
  @media (max-width: 640px) {
    h4 {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    h4 {
      padding-top: 0;
      padding-bottom: 5px; } }

p {
  font-size: 19px; }

.copy-19 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px; }
  @media (max-width: 640px) {
    .copy-19 {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .copy-19 {
      padding-top: 0;
      padding-bottom: 5px; } }

.copy-16 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px; }
  @media (max-width: 640px) {
    .copy-16 {
      font-size: 14px;
      line-height: 1.14286; } }
  @media (min-width: 641px) {
    .copy-16 {
      padding-top: 5px;
      padding-bottom: 5px; } }

.heading-24 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  font-weight: bold; }
  @media (max-width: 640px) {
    .heading-24 {
      font-size: 20px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .heading-24 {
      padding-top: 6px;
      padding-bottom: 4px; } }

.heading-27 {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  color: #6f777b;
  display: block; }
  @media (max-width: 640px) {
    .heading-27 {
      font-size: 18px;
      line-height: 1.11111; } }
  @media (min-width: 641px) {
    .heading-27 {
      padding-top: 4px;
      padding-bottom: 6px; } }

.heading-36 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold; }
  @media (max-width: 640px) {
    .heading-36 {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    .heading-36 {
      padding-top: 6px;
      padding-bottom: 9px; } }

.heading-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold; }
  @media (max-width: 640px) {
    .heading-48 {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    .heading-48 {
      padding-top: 7px;
      padding-bottom: 13px; } }

.text-secondary {
  color: #6f777b; }

#phase-notice {
  width: 1020px;
  margin-left: auto;
  margin-right: auto; }

.price {
  font-size: 48px;
  margin-top: -10px; }

.secondary-label {
  color: #888888; }

/* Layout */
#infocol {
  width: 33.33333%;
  float: right; }

#mcontent {
  width: 66.66667%;
  float: left;
  margin-bottom: 20px; }

#bundle {
  margin-bottom: 20px; }

/*Buttons*/
.button {
  background-color: #006435;
  color: white;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  margin: 0 0 1em 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }

.button-warning {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff; }
  .button-warning:visited {
    background-color: #b10e1e; }
  .button-warning:hover, .button-warning:focus {
    background-color: #990c1a; }
  .button-warning:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
    zoom: 1;
    filter: alpha(opacity=#{$trans * 100});
    opacity: 0.5; }
    .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812; }
  .button-warning:hover, .button-warning:focus, .button-warning:visited {
    color: #fff; }
  .button-warning:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-warning:active:before {
    top: -10%;
    height: 120%; }
  .button-warning[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

/*
background: $red;
color: white;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
margin: 0 0 1em 0;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;*/
.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }

.search-container {
  margin-bottom: 50px; }

.del {
  float: right;
  color: grey;
  padding-right: 30px;
  font-size: 18px;
  margin-bottom: -10px; }

/*Lists*/
.list {
  list-style-type: none;
  margin-left: -40px; }

#infocol ul li {
  list-style-type: none;
  margin-left: 40px; }

#profile-list {
  list-style-type: none;
  margin: 5px 0 20px -45px; }

#profile-list li {
  padding: 10px;
  border-bottom: 1px solid #dee0e2; }

/*shortlists*/
.addimg {
  margin-top: -2px;
  margin-right: 7px; }

/*shortlists*/
.shortlist-picker {
  margin-top: -20px;
  width: 90%;
  margin-left: 0px;
  border-bottom: 2px solid #cccccc; }

.project-picker {
  margin-top: -20px;
  width: 90%;
  margin-left: 0px;
  border-bottom: 2px solid #cccccc; }

.pick-one-project {
  background: #f1f1f1;
  margin-top: -20px;
  padding: 3px;
  border-top: 7px solid black; }

.pick-one-shortlist {
  background: #f1f1f1;
  margin-bottom: -20px;
  padding: 3px;
  border-top: 7px solid black; }

.shortlist-picker-item {
  background: #ffffff;
  padding: 7px;
  border-bottom: 1px solid #cccccc; }

.shortlist-item-selected {
  color: white;
  background: #28a197;
  padding: 7px;
  border-bottom: 1px solid #cccccc; }

#changeproj {
  margin-left: 10px; }

/*Logo treatment*/
#brand {
  width: 100%;
  padding: 20px 0 20px 0; }

.swrap {
  margin: 20px 0 40px 0; }

/*Input*/
input {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  margin: 0 -3px 0 0;
  padding: 0 0 0 0;
  display: inline;
  height: 50px;
  border: 1px solid #bfc1c3;
  line-height: 48px !important; }

#filter-inner input {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  text-indent: 10px;
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  border: 1px solid #bfc1c3;
  width: auto; }

#radio {
  vertical-align: middle;
  width: auto;
  margin: 0 0 0px 7px; }

#filter-inner checkbox {
  vertical-align: middle; }

#filter-inner checkbox label {
  vertical-align: middle;
  float: left; }

.radio label {
  margin-left: 10px;
  margin-bottom: -5px; }

#filter-inner input value {
  color: grey; }

.checkboxes {
  overflow: auto; }

.checkboxes label {
  display: block;
  float: left;
  padding-right: 6px;
  white-space: nowrap; }

.checkboxes input {
  margin-right: 5px;
  vertical-align: middle;
  width: 14px; }

.checkboxes label span {
  vertical-align: middle; }

/* Layout */
#outer-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  overflow: auto; }

#inner-wrapper {
  margin: 3% 3% 3% 3%; }

/* Home */
.alphadisclaimer {
  background: #fff2d3;
  padding: 5px; }
  .alphadisclaimer p {
    margin: 0; }

/* Search results specific */
#search {
  display: inline;
  width: 100%; }

#box-filter {
  width: 33.3333%;
  float: left; }

#filter-inner {
  padding: 0 60px 0 5px; }

#filter-inner p {
  font-size: 16px;
  margin: 0; }


#box-results {
  width: 66.66667%;
  float: right; }

.advancedsearch {
  background: #f1f1f1;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 5px;
  width: 65%; }

.saved {
  color: #006435; }

.login {
  background: #f1f1f1;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px 0 20px 0; }

.loginwide {
  width: 660px;
  background: #f1f1f1;
  border: 1px solid #cccccc;
  padding: 10px 10px 0 10px;
  margin: 5px 0 5px 0; }

.questionform {
  background: #f1f1f1;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px 0 20px 0; }

.qfeedback {
  background: #fff2d3;
  padding: 10px;
  margin: 10px 0 20px 0; }

#searchcontainer {
  overflow: auto; }

/* Search */
.searchterm {
  background: #dee0e2;
  padding: 2px; }

#sheader {
  margin: 20px 0 0 0;
  width: 930px; }

#searchops {
  margin-top: -5px;
  border-bottom: 1px solid #bfc1c3; }

/* Filter */
.client-logo {
  margin-right: 20px;
  padding: 10px; }

.cat {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px; }
  @media (max-width: 640px) {
    .cat {
      font-size: 12px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .cat {
      padding-top: 5px;
      padding-bottom: 5px; } }

.cat-filter {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  border-top: 1px solid #f1f1f1; }
  @media (max-width: 640px) {
    .cat-filter {
      font-size: 12px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .cat-filter {
      padding-top: 5px;
      padding-bottom: 5px; } }

/* Results */
.single-row-select {
  border: 1px solid #bfc1c3;
  padding: 5px 5px 5px 10px;
  width: 100%;
  background: #fff;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none; }

.makeshortlist {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px; }

#makeshortlist {
  overflow: hidden;
  line-height: 150%;
  background: #f8f8f8;
  padding: 20px;
  border: 1px solid #dee0e2; }

.search-counter {
  background: white;
  padding: 5px;
  border: 1px solid #dee0e2;
  text-align: right;
  float: right; }

.services {
  width: 80%;
  float: left; }

#makeshortlist p {
  font-size: 19px; }

#lot-saas {
  float: left; }

.lot {
  display: inline-block;
  background: white;
  border-bottom: 1px solid #dee0e2;
  padding: 5px 2px 0 5px;
  margin-bottom: 11px;
  margin-right: 10px; }

.lot-selected {
  display: inline-block;
  background: #006435;
  color: white;
  padding: 5px 2px 0 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #6f777b; }

#makeshortlist {
  overflow: hidden;
  line-height: 150%;
  background: #f8f8f8;
  padding: 20px;
  border: 1px solid #dee0e2; }

.search-counter {
  background: white;
  padding: 5px;
  border: 1px solid #dee0e2;
  text-align: right;
  float: right; }

.services {
  width: 80%;
  float: left; }

#makeshortlist p {
  font-size: 19px; }

#lot-saas {
  float: left; }

.lot {
  display: inline-block;
  background: white;
  border-bottom: 1px solid #dee0e2;
  padding: 5px 2px 0 5px;
  margin-bottom: 11px;
  margin-right: 10px; }

.lot-selected {
  display: inline-block;
  background: #006435;
  color: white;
  padding: 5px 2px 0 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #6f777b; }

/* Shortlist picker */
#shortlist-holder {
  background: #f8f8f8;
  border: 1px solid #bfc1c3;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -1px;
  display: inline block; }

#shortlist-holder p {
  font-size: 16px; }

.shortlist-line {
  border-bottom: 1px solid #dee0e2; }

/* Shortlist */
.project-desc {
  width: 60%;
  padding: 5px 0 15px 10px;
  margin: 10px 0 10px 0; }

#project-name {
  background: #f8f8f8;
  border: 1px solid #dee0e2;
  width: 80%;
  padding: 10px 0 0 15px;
  margin-top: -40px;
  margin-bottom: 5px; }

#sub-links {
  margin-bottom: 17px;
  text-align: right; }

#sub-links a {
  margin-right: 7px;
  font-size: 16px; }

.shortlist {
  margin-top: 40px;
  width: 80%; }

.eval-crit-box {
  padding: 10px 10px 10px 5px;
  margin: 7px 0 7px 0; }

.eval-crit {
  background: #DEE0E2;
  padding: 7px;
  margin-right: 10px; }

.shortlist-header {
  border-bottom: 2px solid #BFC1C3;
  padding: 10px;
  margin-bottom: 10px;
  background: #F8F8F8; }

#delete-product {
  text-align: center; }

.count {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  padding-right: 10px;
  text-transform: none;
  float: left; }

#search-result {
  border-bottom: 1px solid #bfc1c3; }

.active-shortlist {
  border: 2px solid #dee0e2; }

.shortlist-item {
  background: white;
  padding: 15px;
  border-bottom: 2px solid #dee0e2; }

.shortlist-bin {
  margin-top: 50px;
  margin-top: 1px solid #dee0e2; }

.shortlist-item-removed {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #dee0e2; }

.shortlist-note {
  background: #f8f8f8;
  padding: 10px;
  margin: 3px;
  border: 1px dotted #bfc1c3; }

.shortlist-links {
  margin-right: 5px; }

#remove-reason {
  border: 2px solid #6f777b;
  background: #f8f8f8;
  margin-top: -5px;
  margin: 10px;
  padding: 10px 10px 5px 20px; }

#shortlist-item-removed {
  background: #fff2d3;
  padding: 5px;
  text-align: center; }

#help-search-1 {
  display: none;
  min-height: 60px;
  border-bottom: 1px solid #bfc1c3;
  padding: 10px 10px 10px 5px; }

#help-search-2 {
  border: 1px solid #bfc1c3;
  padding: 10px 10px 10px 10px;
  background: #f1f1f1;
  text-align: center; }

.supplier {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -20px; }

#list-results {
  padding: 10px 0 0 0; }

#feedback {
  font-size: 19px;
  margin-bottom: 10px; }

#fdbutton {
  background: green;
  color: white;
  padding: 5px;
  width: 150px; }

.supplier-logo {
  height: 50px;
  width: 100px;
  float: right;
  margin: 20px 0 20px 10px; }

#phase-notice {
  padding: 8px 0;
  background-color: #d53880; }
  #phase-notice p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      #phase-notice p {
        font-size: 14px;
        line-height: 1.14286; } }
  #phase-notice a, #phase-notice a:link, #phase-notice a:visited, #phase-notice a:active {
    color: #0b0c0c; }
  #phase-notice a:hover {
    color: #0b0c0c; }

.alpha-tag {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #d53880;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0; }
  @media (max-width: 640px) {
    .alpha-tag {
      font-size: 14px;
      line-height: 1.14286; } }

.product {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -20px; }

.supplier {
  font-size: 14px;
  font-weight: normal;
  color: #6f777b;
  margin-bottom: -2px; }

/* Listing */
.thumb {
  border: 5px solid #dee0e2;
  margin-bottom: 40px;
  margin-right: 20px; }

.thumb-active {
  border: 5px solid #6f777b;
  margin-bottom: 40px;
  margin-right: 20px; }

.screenshot {
  margin-top: 20px;
  border: 5px solid #dee0e2; }

#keywords {
  margin: 0 auto;
  overflow: auto; }

#keyword {
  background: #dee0e2;
  padding: 5px;
  margin: 0px 3px 3px 0;
  float: left; }

#infosection {
  margin: 20px 0 20px 0; }

#watchlist {
  margin-top: -40px; }

#pricing {
  margin: 0 auto;
  overflow: auto;
  padding: 20px 0 30px 0; }

#unitpickerm {
  display: block;
  border: 4px solid #dee0e2;
  padding: 0 10px 0px 10px; }

#unitpickerm p {
  line-height: 40%;
  font-size: 16px; }

#price {
  float: left;
  margin-right: 10px; }

#price-unit {
  float: left;
  width: 80px; }

ul li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px; }
  @media (max-width: 640px) {
    ul li {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    ul li {
      padding-top: 0;
      padding-bottom: 5px; } }

.price {
  font-weight: bold; }

#listing-sect {
  margin: 50px 0 50px 0; }

#features {
  margin-bottom: 50px; }

#question {
  padding: 10px 0px 10px 5px;
  margin: 2px 0 20px 0;
  border-bottom: 1px solid #dee0e2; }

.qmd {
  margin-top: 30px; }

.answerposted {
  background: #fff2d3;
  padding: 10px;
  border: 1px solid #cccccc; }

.questioncategory {
  margin-top: 20px; }

#line {
  margin: 10px 0 20px 0;
  border-top: 1px solid #dee0e2; }

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 5px; }

.form-group {
  margin-bottom: 30px;
  margin-top: -20px; }

.form-control {
  width: 50%; }

.login-group {
  margin-top: 30px; }

/* Search results */
.results-summary {
  height: 55px; }

#resultsadded {
  padding: 5px; }

/* Search form */
#adv-wrapper {
  overflow: auto; }

.adv-form-group {
  margin-bottom: 10px;
  width: 60%; }

.adv-form-group control {
  float: left;
  width: 50%;
  margin-bottom: 4px; }

.adv-form-group-control {
  float: left;
  width: 50%; }

.shortlist-input {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px; }

#active-filters {
  overflow: auto; }

#active-filters p {
  font-size: 16px; }

.active-filter {
  background: #f8f8f8;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #dee0e2; }

.remove {
  float: right;
  margin: 10px 10px 0 0; }

.filterimg {
  margin-top: 2px;
  margin-left: 5px; }

/*New filters and categories*/
.filter-applied {
  background: #f8f8f8;
  color: black;
  padding: 7px 7px 7px 7px;
  margin-bottom: 7px;
  overflow: auto;
  border-bottom: 1px solid #dee0e2; }

.filter-applied p {
  letter-spacing: 0.009em;
  font-size: 14px;
  margin: 0; }

.filter-remove {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
  height: 50px; }

.filter-remove p {
  font-size: 24px; }

.filter-remove a {
  text-decoration: none;
  color: black; }


.lev-1 p {
  color: #6f777b; }

.lev-2 {
  margin-left: 10px; }

.category-browse {
  margin-bottom: 20px; }

> > > > > > > searchresults .adv-form-group input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 0 0 10px;
  border-color: #bfc1c3;
  text-transform: none;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.31579;
  line-height: 48px !important; }

/* Fake Accordion */
#fakeaccordion {
  background: #dee0e2;
  border: 1px dotted #a1acb2;
  overflow: auto;
  margin: 5px 5px 5px 0;
  padding: 5px; }

.catname {
  font-size: 24px;
  font-weight: bold; }

#catname {
  float: left; }

.exp {
  float: right;
  margin: 3px 3px 0 0; }

#drag {
  float: left;
  background: url('../images/drag_icon.png') no-repeat;
  width: 20px;
  height: 20px;
  margin: 7px 20px 0 0; }

table {
  width: 99.4%;
  border: 1px dotted #a1acb2;
  padding: 1px;
  margin: -6px 5px 0 0; }

td {
  width: 70%;
  padding: 5px; }

.tick {
  font-size: 18px;
  color: #20C983;
  margin-left: 10px; }

.cross {
  font-size: 30px;
  color: #D43552;
  margin-left: 10px; }

.alternate {
  background: #eaedef; }

/*Home placeholder*/
#holder {
  overflow: auto;
  width: 950px;
  margin-top: 50px; }

#holder h3 {
  margin-bottom: -5px; }

#holder ul li {
  list-style-type: none;
  margin-left: -30px; }

#category {
  width: 380px;
  float: left;
  margin-right: 5%;
  margin-bottom: 1%; }

#category p {
  font-size: 18px; }

/*Supplier*/
.subpage {
  font-size: 24px;
  color: grey;
  margin-bottom: -20px; }

#inner {
  padding-right: 20px; }

/* Search revised */
@media (max-width: 640px) {
  main.search h1 {
    font-size: 20px;
    line-height: 1.2; } }

main.search .search-header {
  position: relative;
  margin: 0;
  padding: 10px 15px 15px;
  overflow: visible; }

@media (min-width: 641px) {
  main.search .search-header {
    width: 66.666%;
    padding: 20px 20px 10px 0px; } }

main.search .search-header .searchfield {
  position: relative; }

main.search .search-header .search-input {
  position: static;
  margin: 0;
  padding: 0 50px 0 0; }

main.search .search-header .search-submit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  overflow: visible; }

main.search .search-header input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 0 0 10px;
  border-right: none;
  border-color: #bfc1c3;
  text-transform: none;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.31579;
  line-height: 48px !important; }

@media (max-width: 640px) {
  main.search .search-header input {
    font-size: 16px;
    line-height: 1.25; } }

main.search .search-header input::-webkit-search-cancel-button {
  -webkit-appearance: none; }

main.search .search-header button {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #2b8cc4;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-ae8b4a52fcf80102a4ebccdde74bd46c.png);
  background-position: -12.5% 50%;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

main.search .search-header button:hover {
  background-color: #267daf; }
